<template>
  <div>
    <div class="lb-buttons">
      <button
        @click.exact="saveSequence(false)"
        @click.shift="saveSequence(true)"
        class="lb-button lb-navigation"
        title="Save this sequence as new"
      >
        Save new
      </button>
      <button
        @click.exact="updateSequence(false)"
        @click.shift="updateSequence(true)"
        class="lb-button lb-navigation"
        :class="updateClass"
        title="Update this sequence"
      >
        Update
      </button>
      <button
        v-if="state.engine.webcams"
        @click="command('CMD_APP_SWITCH_BYPASS')"
        class="lb-button lb-button-unicode lb-navigation"
        title="Bypass webcams"
      >
        &#x1f4f7;
      </button>
      <button
        @click.exact="clearFrame(false)"
        @click.shift="clearFrame(true)"
        class="lb-button lb-navigation"
        title="Click to clear the current frame, Shift-click to randomize"
      >
        Clear
      </button>
      <button
        @click.exact="resetSequence(false, false)"
        @click.shift.exact="resetSequence(false, true)"
        @click.ctrl.shift="resetSequence(true, true)"
        class="lb-button lb-navigation"
        title="Remove all plugins from this sequence"
      >
        Reset
      </button>
    </div>
    <div class="lb-selected-container">
      <button
        class="lb-label lb-button"
        @click="toggleSelected"
        :title="`Click to add/remove '${state.engine.selectedPlugin.displayName}'`"
      >
        {{ state.engine.selectedPlugin.displayName }}
      </button>
      <button
        class="lb-button"
        @click="lockPlugin"
        v-html="lockIcon"
        :title="lockTitle"
      ></button>
    </div>
    <div>
      <div class="lb-label">Bandpass</div>
      <Slider
        id="bandpassSlider"
        v-model="state.sequence.bandpass"
        v-bind="bandpassSlider"
        @change="
          uiCommand('UI_CMD_APP_SET_BANDPASS', {
            min: state.sequence.bandpass[0],
            max: state.sequence.bandpass[1],
          })
        "
        class="lb-slider"
        title="Slide to update the Bandpass layer mode"
      />
    </div>
    <VueDraggableNext
      :list="state.sequence.plugins"
      @change="dragged"
      class="lb-sequence"
    >
      <div
        class="lb-item"
        v-for="plugin in format(state.sequence.plugins)"
        :key="plugin.name"
      >
        <div>
          <div
            class="lb-plugin-div"
            @click.exact="selectPlugin(plugin.name, false)"
            @click.ctrl="selectPlugin(plugin.name, true)"
            :title="`Click to select, Ctrl-click to remove, drag and drop to move '${plugin.displayName}'`"
          >
            {{ plugin.displayName }}
          </div>
        </div>
        <div>
          <select
            v-if="plugin.mode !== 'none'"
            @change="onChange(plugin.name, $event)"
            class="lb-layer-mode"
            title="Change layer mode"
          >
            <option
              v-for="(layer, index) in state.engine.layerModes"
              :value="index"
              :key="layer"
              :selected="plugin.mode === layer"
            >
              {{ capitalize(layer) }}
            </option>
          </select>
        </div>
        <div>
          <button
            @click="toggleLens(plugin.name)"
            v-html="plugin.lensChar"
            class="lb-lens"
            :title="`Click to change lens mode, drag and drop to move '${plugin.displayName}'`"
          ></button>
        </div>
      </div>
    </VueDraggableNext>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent /*, ref, watch */ } from 'vue'

import state from '@/state'
import { Plugin } from '@/state/types'
import getters from '@/state/getters'

import Slider from '@vueform/slider'
import { VueDraggableNext } from 'vue-draggable-next'

import { capitalize } from '@/modules/utils'
import { command, uiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'LBEditor',
  components: { Slider, VueDraggableNext },
  setup () {
    const bandpassSlider = {
      min: 0,
      max: 255,
      format: (value: number) => Math.round(value)
    }
    const format = (sequence: Plugin[]) => {
      let lensFound = false
      const res = []
      for (const p of sequence) {
        if (p.lens) {
          lensFound = true
          p.lensChar = '&#x21aa;'
        } else if (!lensFound) {
          p.lensChar = '&#x2193;'
        } else {
          p.lensChar = '&nbsp;'
        }
        res.push(p)
      }

      return res
    }

    const lockIcon = computed(
      () => `&#x1f51${getters.isLockedPlugin(state) ? 2 : 3}`
    )
    const lockTitle = computed(
      () =>
        `Click to ${getters.isLockedPlugin(state) ? 'unlock' : 'lock'} '${
          state.engine.selectedPlugin.displayName
        }'`
    )
    const updateClass = computed(
      () => `${state.sequence.modified ? 'lb-update-warning' : ''}`
    )

    const clearFrame = (shiftKey: boolean) =>
      shiftKey
        ? command('CMD_APP_RANDOMIZE_SCREEN')
        : command('CMD_APP_CLEAR_SCREEN')
    const dragged = () => {
      const newSequence = state.sequence.plugins.map((p) => p.name)
      uiCommand('UI_CMD_SEQ_REORDER', newSequence)
    }
    const lockPlugin = () => command('CMD_APP_LOCK_SELECTED_PLUGIN')
    const onChange = (plugin: string, event: Event) => {
      const target = event.target as HTMLInputElement
      uiCommand('UI_CMD_APP_SELECT_PLUGIN', plugin)
      uiCommand('UI_CMD_SEQ_SET_LAYER_MODE', {
        plugin: plugin,
        mode: +target.value
      })
    }
    const resetSequence = (ctrlKey: boolean, shiftKey: boolean) => {
      command('CMD_SEQ_RESET')
      if (ctrlKey) command('CMD_APP_CLEAR_SCREEN')
      if (shiftKey) command('CMD_APP_RANDOMIZE_SCREEN')
    }
    const saveSequence = (shiftKey: boolean) => {
      shiftKey ? command('CMD_SEQ_SAVE_BARE') : command('CMD_SEQ_SAVE_FULL')
    }
    const selectPlugin = (plugin: string, ctrlKey: boolean) => {
      uiCommand('UI_CMD_APP_SELECT_PLUGIN', plugin)
      if (ctrlKey) command('CMD_APP_TOGGLE_SELECTED_PLUGIN')
    }
    const toggleLens = (plugin: string) => {
      uiCommand('UI_CMD_APP_SELECT_PLUGIN', plugin)
      command('CMD_SEQ_TOGGLE_LENS')
    }
    const toggleSelected = () => command('CMD_APP_TOGGLE_SELECTED_PLUGIN')
    const updateSequence = (shiftKey: boolean) => {
      shiftKey
        ? command('CMD_SEQ_UPDATE_BARE')
        : command('CMD_SEQ_UPDATE_FULL')
    }

    return {
      bandpassSlider,
      capitalize,
      clearFrame,
      command,
      dragged,
      format,
      lockIcon,
      lockPlugin,
      lockTitle,
      onChange,
      resetSequence,
      saveSequence,
      selectPlugin,
      state,
      toggleLens,
      toggleSelected,
      uiCommand,
      updateClass,
      updateSequence
    }
  }
})
</script>

<style scoped>
.lb-buttons {
  text-align: center;
  margin-top: 0.7em;
}

.lb-sequence {
  text-align: center;
  margin-top: 0.7em;
}

.lb-sequence .lb-item {
  margin: 0;
  border: none;
}

.lb-item {
  display: grid;
  grid-template-columns: 210px 130px auto;
}

.lb-plugin-div {
  width: 100%;
  border: 1px solid #444;
  background: #222;
  border-radius: 3px;
  cursor: grab;
}

.lb-lens {
  color: white;
  font-weight: bold;
  width: 30px;
  font-size: 100% !important;
  padding: 0;
  cursor: grab;
}

.lb-selected-container {
  margin-top: 0.5em;
}

.lb-bandpass-label {
  align-self: center;
  justify-self: end;
}

.lb-update-warning {
  color: orange;
}
</style>
