<template>
  <div class="lb-parameters-container">
    <div v-if="parameters">
      <LBParameter
        v-for="(parameter, name, index) in parameters"
        :key="parameterKey(name, index)"
        :index="index"
        :name="name"
        :parameter="parameter"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import state from '@/state'

import LBParameter from '@/components/editor/LBParameter.vue'

export default defineComponent({
  name: 'LBParameters',
  components: { LBParameter },
  props: { parameters: { type: Object, required: false } },
  setup () {
    const parameterKey = (name: string, index: number) =>
      state.engine.selectedPlugin.name + '-' + name + '-' + index

    return {
      parameterKey,
      state
    }
  }
})
</script>
