<template>
  <div class="lb-parameter-container">
    <div class="lb-parameter">{{ formattedName }}</div>
    <div
      v-if="parameter.type === 'boolean'"
      class="lb-checkbox"
      :class="checkboxClass"
    >
      <input
        :id="checkboxId"
        type="checkbox"
        v-model="value"
        @click="onClick"
        :checked="parameter.value"
      />
      <label :for="checkboxId" :title="checkboxDescription"></label>
    </div>
    <div v-if="parameter.type === 'integer'" class="lb-slider">
      <vue-slider
        v-model="value"
        :adsorb="true"
        :contained="true"
        :dragOnClick="true"
        :interval="parameter.step"
        :lazy="true"
        :min="parameter.min"
        :max="parameter.max"
        :railStyle="{ background: '#333' }"
        :processStyle="{ background: '#ddd' }"
        :title="parameter.description"
        tooltip="always"
        :tooltipStyle="tooltipStyle"
        @change="onSlide"
      ></vue-slider>
    </div>
    <div v-if="parameter.type === 'double'" class="lb-slider">
      <vue-slider
        v-model="value"
        :adsorb="true"
        :contained="true"
        :dragOnClick="true"
        :interval="parameter.step * 1000"
        :lazy="true"
        :min="parameter.min * 1000"
        :max="parameter.max * 1000"
        :railStyle="{ background: '#333' }"
        :processStyle="{ background: '#ddd' }"
        :title="parameter.description"
        tooltip="always"
        :tooltip-formatter="formatDouble"
        :tooltipStyle="tooltipStyle"
        @change="onSlide"
      ></vue-slider>
    </div>
    <div v-if="parameter.type === 'playlist'">
      <input
        type="file"
        multiple
        @change="onPlaylistChange"
        :title="parameter.description"
      />
      <ol>
        <li v-for="(item, index) in parameter.value" :key="index">
          {{ item }}
        </li>
      </ol>
    </div>
    <div v-if="parameter.type === 'string_list'">
      <select @change="onSelectChange" :title="parameter.description">
        <option
          v-for="option in parameter.value_list"
          :key="option"
          :selected="parameter.value === option"
        >
          {{ option }}
        </option>
      </select>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'

import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

import { uiCommand } from '@/modules/ws'
import { capitalize } from '@/modules/utils'

export default defineComponent({
  name: 'LBParameter',
  components: { VueSlider },
  props: {
    index: { type: Number, required: true },
    name: { type: String, required: true },
    parameter: { type: Object, required: true }
  },
  setup (props) {
    const tooltipStyle = {
      color: '#eee',
      background: 'rgba(100, 100, 100, 0.333)',
      border: '1px solid #ccc !important',
      'font-size': '70%',
      padding: '1px 5px !important',
      opacity: '0.666'
    }

    const value = ref(props.parameter.value)
    if (props.parameter.type === 'double') value.value *= 1000

    const checkboxClass = computed(
      () => `lb-checkbox-${value.value ? 'on' : 'off'}`
    )
    const checkboxId = computed(() => `checkbox_${props.index}`)
    const checkboxDescription = computed(
      () => `${props.parameter.description} (${value.value ? 'On' : 'Off'})`
    )
    const formattedName = computed(() =>
      capitalize(props.name.split('_').join(' '))
    )

    const decimals = (number: number) => {
      let dec = 1
      while (!Math.floor(number * Math.pow(10, dec))) dec++
      return dec
    }
    const formatDouble = (value: number) =>
      (value / 1000).toFixed(decimals(props.parameter.step))
    const onClick = (event: Event) => {
      const target = event.target as HTMLInputElement
      uiCommand('UI_CMD_SEQ_SET_PARAM_CHECKBOX_VALUE', {
        selectedParam: props.index,
        value: target.checked
      })
    }
    const onPlaylistChange = (event: Event) => {
      const target = event.target as HTMLInputElement
      const files = target.files
      if (files) {
        const playlist = []
        for (let i = 0; i < files.length; ++i) {
          playlist.push(files[i].name)
        }
        uiCommand('UI_CMD_SEQ_SET_PARAM_PLAYLIST_VALUE', {
          selectedParam: props.index,
          value: playlist
        })
      }
    }
    const onSelectChange = (event: Event) => {
      const target = event.target as HTMLInputElement
      uiCommand('UI_CMD_SEQ_SET_PARAM_SELECT_VALUE', {
        selectedParam: props.index,
        value: target.value
      })
    }
    const onSlide = (event: number) =>
      uiCommand('UI_CMD_SEQ_SET_PARAM_SLIDER_VALUE', {
        selectedParam: props.index,
        value: event
      })

    if (props.parameter.type === 'integer' || props.parameter.type === 'double') {
      if (props.parameter.value < props.parameter.min) {
        console.error('Parameter', props.name, 'has invalid value', props.parameter.value, `(min is ${props.parameter.min})`)
      }
      if (props.parameter.value > props.parameter.max) {
        console.error('Parameter', props.name, 'has invalid value', props.parameter.value, `(max is ${props.parameter.max})`)
      }
    }

    return {
      checkboxId,
      checkboxDescription,
      formatDouble,
      formattedName,
      checkboxClass,
      onClick,
      onPlaylistChange,
      onSelectChange,
      onSlide,
      tooltipStyle,
      value
    }
  }
})
</script>

<style scoped>
.lb-parameter-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
  align-self: center;
  justify-self: end;
  margin-bottom: 4px;
}

.lb-parameter {
  font-size: 1em;
  font-weight: bold;
  color: #ddd;
  justify-self: end;
  align-self: center;
}

input[type="checkbox"] {
  visibility: hidden;
}

.lb-checkbox {
  width: 45px;
  height: 15px;
  background: #333;
  margin: 20px 10px;
  position: relative;
  border-radius: 5px;
}

.lb-checkbox label {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -3px;
  background: #ccc;
}

.lb-checkbox-on {
  background-color: #666;
}

.lb-checkbox input[type="checkbox"]:checked + label {
  left: 27px;
}
</style>
