<template>
  <div>
    <div>
      <button
        @click="togglePreference"
        class="lb-label lb-button lb-preference-button"
        :title="`${displayPreview ? 'Hide' : 'Show'} preview`"
      >
        Preview
      </button>
      <button
        v-if="fullscreenEnabled"
        class="lb-button"
        @click="requestFullscreen"
        title="Set preview fullscreen"
      >
        <img
          draggable="false"
          src="@/assets/icons8-toggle-full-screen-24.png"
          height="22"
        />
      </button>
      <span class="lb-label">&nbsp;Output&nbsp;</span>
      <button
        v-if="fullscreenEnabled"
        class="lb-button"
        @click="command('CMD_APP_SWITCH_FULLSCREEN')"
        :title="fullscreenTitle"
      >
        <img
          v-if="!state.screen.fullscreen"
          src="@/assets/icons8-toggle-full-screen-24.png"
          height="22"
          draggable="false"
        />
        <img
          v-else
          src="@/assets/icons8-normal-screen-24.png"
          height="22"
          draggable="false"
        />
      </button>
    </div>
  </div>
  <Slider
    id="previewFps"
    v-if="displayPreview"
    v-model="previewFps"
    v-bind="fpsSlider"
    @change="changed"
    class="lb-slider"
    title="Slide to change preview FPS"
  />
  <div class="lb-preview-image-container">
    <div class="lb-value lb-preview-name">{{ state.sequence.name }}</div>
    <div v-if="displayPreview">
      <img
        ref="lbFrame"
        id="lbFrame"
        @load="freeFrame"
        :class="previewFullscreen"
        draggable="false"
        :width="previewWidth"
        :height="previewHeight"
        @fullscreenchange="fullscreenChange"
      />
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onBeforeUnmount,
  onMounted,
  ref,
  watch
} from 'vue'

import state from '@/state'
import { setPreference } from '@/state/mutations'

import Slider from '@vueform/slider'

import {
  connect,
  disconnect,
  getFrame,
  close,
  PREVIEW_WIDTH,
  PREVIEW_HEIGHT
} from '@/modules/preview'
import { command } from '@/modules/ws'

export default defineComponent({
  name: 'LBPreview',
  components: { Slider },
  setup () {
    const lbFrame = ref()
    const displayPreview = ref(
      JSON.parse(localStorage.getItem('lbDisplayPreview') || 'true')
    )
    const previewFps = ref(
      JSON.parse(localStorage.getItem('lbPreviewFps') || '1')
    )
    const fpsSlider = {
      min: 1,
      max: 25,
      format: (value: number) => `${Math.round(value)} fps`
    }
    let delay = 0
    let timeout = -1

    const fullscreenEnabled = computed(() => document.fullscreenEnabled)
    const fullscreenTitle = computed(
      () => `Set output ${state.screen.fullscreen ? 'windowed' : 'fullscreen'}`
    )
    const previewFullscreen = computed(() =>
      state.screen.fullscreen ? 'lb-preview-fullscreen' : ''
    )
    const previewWidth = computed(() =>
      state.screen.fullscreen ? state.screen.width : PREVIEW_WIDTH
    )
    const previewHeight = computed(() =>
      state.screen.fullscreen ? state.screen.height : PREVIEW_HEIGHT
    )

    const changed = (newFps: number) => {
      startPreview()
      setPreference('lbPreviewFps', newFps)
    }
    const connected = () => {
      if (displayPreview.value) startPreview()
    }
    const fullscreenChange = () => {
      state.screen.fullscreen = !state.screen.fullscreen
    }
    const freeFrame = () => {
      if (lbFrame.value != null) {
        URL.revokeObjectURL(lbFrame.value.src)
      }
      clearTimeout(timeout)
      timeout = setTimeout(getFrame, delay)
    }
    const requestFullscreen = () => {
      if (lbFrame.value != null) lbFrame.value.requestFullscreen()
    }
    const setFrame = (blob: any) => {
      if (lbFrame.value != null) lbFrame.value.src = URL.createObjectURL(blob)
    }
    const startPreview = () => {
      if (timeout) clearTimeout(timeout)
      delay = Math.round((1 / previewFps.value) * 1000)
      getFrame(state.screen.fullscreen)
    }
    const togglePreference = () => {
      displayPreview.value = !displayPreview.value
      displayPreview.value ? startPreview() : clearInterval(timeout)
      setPreference('lbDisplayPreview', displayPreview.value)
    }

    onBeforeUnmount(() => {
      if (lbFrame.value != null) URL.revokeObjectURL(lbFrame.value.src)
      clearTimeout(timeout)
      disconnect()
    })

    onMounted(() => connect(connected, setFrame))

    watch(
      () => state.connection.lbHost,
      (_) => close()
    )

    return {
      changed,
      command,
      displayPreview,
      fullscreenChange,
      fullscreenEnabled,
      fullscreenTitle,
      freeFrame,
      lbFrame,
      fpsSlider,
      previewFullscreen,
      previewFps,
      previewHeight,
      previewWidth,
      requestFullscreen,
      state,
      togglePreference
    }
  }
})
</script>

<style>
#lbFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0.666em 0;
  height: 256px;
}

.lb-preview-fullscreen {
  cursor: none;
}

.lb-fullscreen {
  margin-top: 100px;
}

.lb-preview-container {
  position: relative;
}

.lb-preview-name {
  position: relative;
  top: 14px;
  height: 0;
  padding: 0;
  text-shadow: 0 0 2px black;
  color: white;
  z-index: 1;
  left: 0;
  text-align: center;
  width: 100%;
}
</style>
