<template>
  <div class="lb-selector-container">
    <div>
      <div class="lb-label">
        {{ capitalize(item) }}
        <button
          class="lb-button"
          @click="lock"
          v-html="lockIcon"
          :title="lockTitle"
        ></button>
      </div>
    </div>
    <div>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', {
            item: item,
            type: 'previous',
            n: 100,
          })
        "
        :title="`Use the ${item} 100 positions before`"
      >
        &#x21da;
      </button>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', {
            item: item,
            type: 'previous',
            n: 10,
          })
        "
        :title="`Use the ${item} 10 positions before`"
      >
        &#x21d0;
      </button>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', {
            item: item,
            type: 'previous',
            n: 1,
          })
        "
        :title="`Use the previous ${item}`"
      >
        &#x2190;
      </button>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', { item: item, type: 'random' })
        "
        :title="`Use a random ${item}`"
      >
        Random
      </button>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', { item: item, type: 'next', n: 1 })
        "
        :title="`Use the next ${item}`"
      >
        &#x2192;
      </button>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', { item: item, type: 'next', n: 10 })
        "
        :title="`Use the ${item} 10 positions after`"
      >
        &#x21d2;
      </button>
      <button
        :disabled="locked"
        class="lb-button lb-navigation"
        @click="
          vuiCommand('VUI_SELECTOR_CHANGE', {
            item: item,
            type: 'next',
            n: 100,
          })
        "
        :title="`Use the ${item} 100 positions after`"
      >
        &#x21db;
      </button>
    </div>
    <div class="lb-shortcuts-container">
      <button
        :disabled="locked"
        class="lb-button lb-shortcut"
        v-for="(shortcut, index) in shortcuts"
        :key="index"
        @click.shift.exact="onClick(index, false, true)"
        @click.shift.ctrl="onClick(index, true, true)"
        @click.exact="onClick(index, false, false)"
        :title="shortcutTitle(index)"
      >
        <span
          :class="
            locked
              ? ':disabled'
              : shortcuts[index]
              ? 'lb-shortcut-stored'
              : 'lb-shortcut-free'
          "
          >{{ index + 1 }}</span
        >
      </button>
    </div>

    <div>
      <div v-if="item === 'colormap'">
        <div class="lb-value">{{ shortName }}</div>
        <canvas ref="lbColormap" class="lb-preview" width="256" height="170"
          >Your browser doesn't support the HTML5 canvas tag.
        </canvas>
      </div>
      <div v-else>
        <div class="lb-value">{{ shortName }}</div>
        <img
          ref="lbImage"
          :src="imageUrl"
          class="lb-preview"
          width="320"
          height="180"
          draggable="false"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from 'vue'

import state from '@/state'
import { Shortcut } from '@/state/types'
import getters from '@/state/getters'

import { vuiCommand } from '@/modules/ws'
import { capitalize, shorten } from '@/modules/utils'

export default defineComponent({
  name: 'LBSelector',
  props: {
    item: {
      type: String,
      required: true,
      validator: (value: string) => {
        return ['colormap', 'image'].indexOf(value) !== -1
      }
    },
    locked: {
      type: Boolean,
      required: true
    }
  },
  setup (props) {
    const lbColormap = ref<HTMLCanvasElement>()
    const imageUrl = ref('')
    const shortcuts = ref<Shortcut[]>([])
    const name = ref(
      props.item === 'colormap' ? state.sequence.colormap : state.sequence.image
    )

    const lockIcon = computed(() => `&#x1f51${props.locked ? 2 : 3};`)
    const lockTitle = computed(
      () =>
        `Click to ${props.locked ? 'unlock' : 'lock'} the current ${props.item}`
    )
    const shortName = computed(() =>
      shorten(props.item === 'colormap' ? name.value : name.value.split('.')[0])
    )

    const onClick = (index: number, ctrlKey: boolean, shiftKey: boolean) => {
      if (ctrlKey && shiftKey) {
        vuiCommand('VUI_SHORTCUT', {
          action: 'clear',
          item: props.item,
          index: index
        })
      } else if (shiftKey) {
        vuiCommand('VUI_SHORTCUT', {
          action: 'store',
          item: props.item,
          index: index
        })
      } else {
        vuiCommand('VUI_SHORTCUT', {
          action: 'use',
          item: props.item,
          index: index
        })
      }
    }
    const drawColormap = (colormap: string[]) => {
      const canvas = lbColormap.value as HTMLCanvasElement
      const context = canvas.getContext('2d')

      if (context) {
        for (const c in colormap) {
          context.beginPath()
          context.moveTo(+c, 0)
          context.lineTo(+c, canvas.height)
          context.strokeStyle = colormap[c]
          context.stroke()
        }
      }
    }
    const lock = () => vuiCommand('VUI_LOCK', props.item)
    const setData = (data: string) => {
      name.value = data
      switch (props.item) {
        case 'colormap':
          {
            const url = `${getters.getHttpUrl(state)}/colormap?name=${escape(
              data
            )}`
            fetch(url)
              .then((response) => response.json())
              .then((json) => drawColormap(json.w3c))
          }
          break

        case 'image':
          imageUrl.value = `${getters.getHttpUrl(state)}/image?name=${escape(
            data
          )}`
          break
      }
    }
    const shortcutTitle = (index: number) =>
      `Shift-click to assign the current ${props.item} to slot ${
        index + 1
      }, Click to use, Ctrl-Shift-click to clear the slot`

    onMounted(() => {
      setData(name.value)
      shortcuts.value =
        props.item === 'colormap'
          ? state.shortcuts.colormaps
          : state.shortcuts.images
    })

    watch(
      () => state.sequence.colormap,
      (newVal) => {
        if (props.item === 'colormap') setData(newVal)
      }
    )
    watch(
      () => state.sequence.image,
      (newVal) => {
        if (props.item === 'image') setData(newVal)
      }
    )
    watch(
      () => state.shortcuts,
      (newShortcuts) => {
        shortcuts.value =
          props.item === 'colormap'
            ? newShortcuts.colormaps
            : newShortcuts.images
      }
    )

    return {
      capitalize,
      lbColormap,
      lock,
      lockIcon,
      lockTitle,
      imageUrl,
      shortName,
      shortcutTitle,
      onClick,
      shortcuts,
      vuiCommand
    }
  }
})
</script>

<style scoped>
.lb-shortcuts-container {
  display: grid;
  grid-template-columns: repeat(10, 2fr);
}

.lb-shortcut-stored {
  color: #eee;
}

.lb-shortcut-free {
  color: #777;
}
</style>
