<template>
  <div style="text-align: center">
    <div>{{ name }}</div>
    <canvas
      ref="lbCanvas"
      width="256"
      :height="HEIGHT"
      class="lb-item"
    ></canvas>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import state from '@/state'
import getters from '@/state/getters'

import { shorten } from '@/modules/utils'

export default defineComponent({
  name: 'LBColormap',
  props: { index: { type: Number, required: true } },
  setup (props) {
    const lbCanvas = ref(null)
    let canvasContext = {}
    const colormap = ref('...')
    const HEIGHT = 40

    const name = computed(() => shorten(colormap.value))

    onMounted(() => {
      const canvas = lbCanvas.value as unknown as HTMLCanvasElement
      canvasContext = canvas.getContext('2d') as CanvasRenderingContext2D
      fetch(`${getters.getHttpUrl(state)}/colormap?idx=${props.index}`)
        .then((response) => response.json())
        .then(({ name, w3c }) => {
          colormap.value = name
          drawColormap(w3c)
        })
    })

    const drawColormap = (colormap: string[]) => {
      const context = canvasContext as CanvasRenderingContext2D
      for (const c in colormap) {
        context.strokeStyle = colormap[c]
        context.beginPath()
        context.moveTo(+c, 0)
        context.lineTo(+c, HEIGHT)
        context.stroke()
      }
    }

    return {
      lbCanvas,
      name,
      HEIGHT
    }
  }
})
</script>

<style scoped>
.lb-item {
  width: 258px;
  margin: 10px;
  border: 1px solid #ddd;
}
</style>
