<template>
  <div style="text-align: center">
    <div>{{ name }}</div>
    <img
      :src="src"
      width="192"
      height="108"
      class="lb-item"
      draggable="false"
    />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import state from '@/state'
import getters from '@/state/getters'

import { shorten } from '@/modules/utils'

export default defineComponent({
  name: 'LBImage',
  props: { index: { type: Number, required: true } },
  setup (props) {
    const src = ref('')
    const image = ref('...')

    const name = computed(() => shorten(image.value))

    onMounted(() => {
      fetch(`${getters.getHttpUrl(state)}/image?idx=${props.index}&json=true`)
        .then((response) => response.json())
        .then(({ name, path }) => {
          image.value = name.split('.')[0]
          src.value = `${getters.getHttpUrl(state)}${path}`
        })
    })

    return { name, src }
  }
})
</script>

<style scoped>
.lb-item {
  border: 1px solid white;
}
</style>
