<template>
  <div>
    <div v-if="warning" class="lb-warning">
      <strong
        >&#x26A0; You have some auto modes on. &#x26A0;<br />This can replace
        the {{ item }} you select.</strong
      >
      <button @click="stopRandom()">Turn off</button>
    </div>
    <h1 class="lb-current">
      Current {{ item }}: {{ name }}. Click one to use it.
    </h1>
    <div style="text-align: center">
      <button
        v-for="button in nbButtons"
        :key="button"
        :id="`lbButton${button}`"
        :ref="`lbButton${button}`"
        @click="gotoPage(+button)"
        class="lb-button"
        :class="buttonClass(+button)"
      >
        {{ button }}
      </button>
    </div>
    <br />
    <div v-if="COLORMAP_PICKER" :style="pickerContainerStyle">
      <LBColormap
        v-for="c in items"
        :ref="`colormap${c - 1}`"
        :key="c"
        :index="c"
        @click="useItem(c)"
      />
    </div>
    <div v-else :style="pickerContainerStyle">
      <LBImage
        v-for="i in items"
        :ref="`image${i - 1}`"
        :key="i"
        :index="i"
        @click="useItem(i)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue'
import { RouteParams, useRoute, useRouter } from 'vue-router'
import state from '@/state'

import LBColormap from '@/components/picker/LBColormap.vue'
import LBImage from '@/components/picker/LBImage.vue'

import { command, uiCommand } from '@/modules/ws'
import { shorten } from '@/modules/utils'

export default defineComponent({
  name: 'LBPicker',
  components: { LBColormap, LBImage },
  props: {
    item: {
      type: String,
      required: true,
      validator: (value: string) => {
        return ['colormap', 'image'].indexOf(value) !== -1
      }
    }
  },
  setup (props) {
    const COLORMAP_PICKER = props.item === 'colormap'
    const ITEMS_PER_ROW = Math.floor(
      screen.width / (COLORMAP_PICKER ? 300 : 250)
    )
    const ROWS = Math.floor(
      (screen.height * 0.75) / (COLORMAP_PICKER ? 100 : 140)
    )
    const ITEMS_PER_PAGE = ROWS * ITEMS_PER_ROW
    const route = useRoute()
    const router = useRouter()
    const warning = ref(false)

    const pickerContainerStyle = computed(
      () =>
        `display: grid; grid-template-columns: repeat(${ITEMS_PER_ROW}, 1fr); grid-template-rows: repeat(${ROWS}, 1fr); place-items: center;`
    )

    const buttonClass = (button: number) =>
      `lb-button-o${button === page + 1 ? 'n' : 'ff'}`
    const name = computed(() =>
      shorten(
        COLORMAP_PICKER
          ? state.sequence.colormap
          : state.sequence.image.split('.')[0]
      )
    )
    let page = route.params && route.params.page ? +route.params.page - 1 : 0
    const start = page * ITEMS_PER_PAGE
    const nbItems = COLORMAP_PICKER
      ? state.data.colormaps
      : state.data.images
    const end = Math.min(start + ITEMS_PER_PAGE, nbItems)
    const nbButtons = Math.floor(nbItems / ITEMS_PER_PAGE) + 1

    const items = ref<number[]>([])
    for (let i = start; i < end; ++i) items.value.push(i)

    const stopRandom = () => command('CMD_APP_STOP_AUTO_MODES')
    const updateWarning = () => {
      warning.value =
        state.auto.sequences.value !== 'Off' ||
        (COLORMAP_PICKER
          ? state.auto.colormaps.value
          : state.auto.images.value)
    }
    const gotoPage = (page: number) =>
      router.push({
        name: COLORMAP_PICKER ? 'Colormaps' : 'Images',
        params: { page: page }
      })
    const useItem = (index: number) =>
      uiCommand('UI_CMD_SELECT_ITEM', { item: props.item, index: index })

    watch(
      () => route.params,
      (params: RouteParams) => {
        page = +params.page - 1
        const start = page * ITEMS_PER_PAGE
        const end = Math.min(start + ITEMS_PER_PAGE, nbItems)
        items.value = []
        for (let i = start; i < end; ++i) items.value.push(i)
      }
    )
    watch(
      () => [
        state.auto.colormaps.value,
        state.auto.images.value,
        state.auto.sequences.value
      ],
      (_) => updateWarning()
    )

    updateWarning()

    return {
      buttonClass,
      gotoPage,
      COLORMAP_PICKER,
      items,
      name,
      nbButtons,
      pickerContainerStyle,
      stopRandom,
      useItem,
      warning
    }
  }
})
</script>

<style scoped>
h1 {
  text-align: center;
  font-size: 1.3em;
}

.lb-warning {
  color: orange;
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
}

.lb-picker {
  font-weight: bold;
}

.lb-button-on {
  color: blue;
}

.lb-button-off {
  color: #bbb;
}

.lb-button-on,
.lb-button-off {
  width: 45px;
  font-size: 1.3em;
}
</style>

<style>
.lb-current {
  margin-top: 35px;
}
</style>
