<template>
  <div class="lb-documentation">
    <div class="toc">
      <ol>
        <li><a href="#architecture">Architecture</a></li>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#first_run">First run</a></li>
        <li><a href="#auto_modes">Auto modes</a></li>
        <li><a href="#controls">Controls</a></li>
        <li><a href="#top_bar">The top bar</a></li>
        <li><a href="#selectors">Colormap and image selectors</a></li>
        <li><a href="#plugins">Plugins selection</a></li>
        <li><a href="#parameters">Plugin parameters</a></li>
        <li><a href="#sequences">Creating sequences</a></li>
        <li><a href="#exercises">Exercises</a></li>
        <li><a href="#images">Adding new images</a></li>
        <li><a href="#videos">Using videos</a></li>
        <li><a href="#more">More information</a></li>
      </ol>
    </div>

    <div class="content">
      <h2 id="architecture">Architecture</h2>
      <div class="lb-architecture">
        <img draggable="false" src="@/assets/documentation/architecture.svg" alt="Architecture" :height="architectureHeight" class="lb-img-archi" />
      </div>

      <h2 id="overview">Overview</h2>
      <p>
        Le Biniou is made of effects (a.k.a. "<strong>plugins</strong>") that react to <strong>audio/video</strong> inputs
        and use <strong>colormaps, images, and videos</strong> to generate images. They are combined to form
        "<strong>sequences</strong>", which run in loop.
      </p>

      <h2 id="first_run">First run</h2>
      <p>
        When Le Biniou is started, the web interface will open, but don't be afraid by its complexity: we'll
        dive deep into this later.
      </p>
      <br />
      <p>
        By default Le Biniou will start generating sequences by itself, using what is
        called "<strong>Templates</strong>". Play some music and watch it running. You'll hopefully be
        able to create your own sequences by reading this documentation.
      </p>
      <br />
      <p>
        Check the <a href="/plugins">Plugins</a> page to begin, turn the random modes <span class="lb-code">off</span>
        if you're asked to, and watch some demos to get an idea of what you can do with the plugins.
      </p>

      <h2 id="auto_modes">Auto modes</h2>
      <p>
        You can activate different "auto modes" to control how Le Biniou generates sequences:
      </p>
        <div class="lb-img-center">
          <img draggable="false" src="@/assets/documentation/autoButtons.png" alt="Auto buttons" />
        </div>
      <p>
          <ul>
          <li><span class="lb-code">Templates</span>: the default mode, Le Biniou's A.I. will create sequences for you</li>
          <li><span class="lb-code">Sequences</span>: your sequences (note it's disabled in this screenshot since you start without sequences)</li>
          <li><span class="lb-code">Colormaps</span>: whether Le Biniou will change colormaps randomly</li>
          <li><span class="lb-code">Images</span>: the same, for images</li>
          <li><span class="lb-code">Webcams</span>: if you have more than one webcam connected. The &#x1f513; button lets you select a particular webcam</li>
          <li>Finally, the STOP <span class="lb-code">&#x1f6d1;</span> button turns all auto modes off.</li>
        </ul>
        Feel free to set the auto <span class="lb-code">Templates</span> mode back on !
        Note that this mode will turn
        auto <span class="lb-code">Colormaps</span> and auto <span class="lb-code">Images</span>
        on or off modes at random. <strong>Ctrl-click</strong> on <span class="lb-code">Colormaps</span> or
        <span class="lb-code">Images</span> to disable this.
      </p>

      <h2 id="controls">Controls</h2>
      <div>
        <div class="lb-controls">
          <LBControls :doc="true" />
        </div>
        <p>
          Using this panel, you can control:
          <ul>
            <li>The <strong>Volume</strong> (if your input signal is too low), and also freeze the input signal
            (this might sound useless but is sometimes handy)</li>
            <li>The <strong>Morphing duration</strong>, which is the time it takes to move from one colormap/image
              to another</li>
            <li>The <strong>Auto modes</strong>: shuffling setup and [min..max] seconds between changes</li>
          </ul>
        </p>
      </div>

      <p>Shuffling: three modes are available.
        <ul>
          <li>Cycle: as the name suggests, elements will change in order:
            <ul class="list-inline">
              <li v-for="(item, index) in CYCLE" :key="index">{{ item }}</li> |
              <li v-for="(item, index) in CYCLE" :key="index">{{ item }}</li> ...
            </ul>
          </li>
          <li>Shuffle: like a CD player, items are selected randomly, but only once:
            <ul class="list-inline">
              <li v-for="(item, index) in SHUFFLE1" :key="index">{{ item }}</li> |
              <li v-for="(item, index) in SHUFFLE2" :key="index">{{ item }}</li> ...
            </ul>
          </li>
          <li>Random: pure random, can select items multiple times:
            <ul class="list-inline">
              <li v-for="(item, index) in RANDOM1" :key="index">{{ item }}</li> |
              <li v-for="(item, index) in RANDOM2" :key="index">{{ item }}</li> ...
            </ul>
          </li>
        </ul>
      </p>

      <p>
        At the bottom you will find the <strong>3D</strong> parameters. You can ignore them for now,
        they're for guru users and you'll probably never use them. Hide them if you want by clicking the <span class="lb-code">3D</span> button.
      </p>

      <h2 id="top_bar">The top bar</h2>
      <img draggable="false" src="@/assets/documentation/topBar.png" alt="The top bar" class="lb-topbar" />
      <p>
        From left to right:
      </p>

      <h3>Websocket connection</h3>
      <p>
        By default, Le Biniou connects to <span class="lb-code">localhost</span>. But suppose you have it running on
        <span class="lb-code">PC #1</span> (who's IP adress is e.g. <span class="lb-code">192.168.0.10</span>) and your laptop
        is connected to the same network.
      </p>
      <p>
        Open the interface on your laptop: <span class="lb-code">http://192.168.0.10:30544</span>, replace
        <span class="lb-code">localhost</span> with <span class="lb-code">192.168.0.10</span>
        and voilà ! You can remote control it.
      </p>

      <h3>Uptime</h3>
      <p>
        Well, the uptime.
      </p>

      <h3>FPS slider</h3>
      <p>
        Use it to select how many Frames Per Second (FPS) you want. The gauge on the right tells if Le Biniou
        can handle it (here we see that 50fps are asked, but it actually runs at ~48fps). Then the graph displays
        FPS over time, the blue line being the max.
      </p>

      <h3>Random sequences buttons</h3>
      <p>
        Two buttons to generate sequences: from the <strong>Templates</strong>, and from your
        <strong>Sequences</strong>. The second button
        is disabled because you have no sequences yet (and you actually need at least two sequences, to select one randomly)
        but wait ! You'll create your sequences soon, promised.
      </p>

      <h3>Navigation buttons</h3>
      <p>
        Not usable until you have your own sequences.
      </p>

      <h3>Quit button</h3>
      <p>
        Guess what it does 🤔
      </p>

      <h2 id="selectors">The colormap and image selectors</h2>
      <p>
        The selectors help you navigate colormaps and images.
      </p>
      <div class="lb-img-center">
        <img draggable="false" class="lb-img-center" src="@/assets/documentation/selector.png" alt="A selector" />
      </div>
      <p>
        <br />
        A single arrow will change by 1, a double by 10, and a triple by 100.
      </p>
      <p>
        The second row of buttons lets you state your favorite colormaps or images:
      </p>
      <p>
        <strong>Shift-click</strong> a slot to assign the current colormap/image,
        then <strong>click</strong> to use it.
      </p>
      <p>
        The &#x1f513; button will disallow manual or random colormap/image changes.
      </p>
      <p>
        You can also browse the available <a href="/colormaps" class="lb-code">Colormaps</a>
        and <a href="/images" class="lb-code">Images</a>.
      </p>

      <h2 id="plugins">Plugins selection</h2>
      <p>
        Plugins are organized by category.
      </p>
      <div class="lb-img-center">
        <img draggable="false" src="@/assets/documentation/favorites.png" alt="Favorites" />
      </div>
      <p>
        <br />
        <strong>Click</strong> on a tab to display the corresponding
        plugins. <strong>Click</strong> a plugin to select it and <strong>Ctrl-click</strong> it to add
        or remove it from the current sequence. You can also <strong>Pin</strong> a plugin to add or remove
        it to your favorites.
      </p>

      <h2 id="parameters">Plugin parameters</h2>
      <p>
        Some plugins have parameters; use the controls to change them.
      </p>
      <div class="lb-img-center">
        <img draggable="false" src="@/assets/documentation/pluginParameters.png" class="lb-img-right" alt="Plugin parameters" />
      </div>
      <p>
        The &#x1f513; button will lock a plugin thus guaranteeing it will appear in sequences generated by the auto Templates mode.
      </p>

      <h2 id="sequences">Creating sequences</h2>
      <p>
        You've been waiting for this, right ? 😄 OK, let's create your first sequence !
      </p>
      <br />
      <p>
        First, stop the auto Templates mode by clicking the <span class="lb-code">Templates</span> button
        in the auto controls panel,
        or the red STOP <span class="lb-code">&#x1f6d1;</span> button.
      </p>
      <br />
      <p>
        <strong>Click</strong> the <span class="lb-code">Reset</span> button in the sequence editor.
        <img draggable="false" class="lb-img-right" src="@/assets/documentation/sequenceEditButtons.png" alt="Editor buttons" />
      </p>
      <br />
      <p>
        All the plugins are removed now: you start with an empty "sequence".
        <strong>Shift-click</strong> the <span class="lb-code">Clear</span> button, it will fill the screen with random pixels.
        This was just to show you that you can fill the screen with random pixels &#128578; Now, just <strong>click</strong> this button again,
        the screen should be blank as one would expect.
      </p>
      <br />
      <p>
        Select the <span class="lb-code">Graphics > Galaxy</span> plugin.
      </p>
      <p>
        <strong>Ctrl-click</strong> it, it will be added to the sequence:
        <img draggable="false" src="@/assets/documentation/newSequence1.gif" /> But wait 🤔 It only draws pixels ?!
        <br />
        Select the <span class="lb-code">All > Clear</span> plugin. Add it. Looks better now 😄
        <br /><br />
      </p>
      <div class="lb-img-center">
        <img draggable="false" class="lb-img-right" src="@/assets/documentation/newSequence2.gif" />
      </div>
      <p>
        <br />
        Note that the <span class="lb-code">Clear</span> plugin (on the contrary of other plugins)
        will always be added to the <i>beginning</i> of a sequence, because it's pretty much pointless to clear
        the sequence at the end:
        <img draggable="false" class="lb-img-right" src="@/assets/documentation/newSequence3.png" />
      </p>
      <br /><br />
      <p>
        Let's add another effect: select the <span class="lb-code">Blur > Gaussian blur</span> plugin and add it.
      </p>
      <br />
      <p>
        <img draggable="false" class="lb-img-right" src="@/assets/documentation/newSequence4.gif" />
        <img draggable="false" class="lb-img-right" src="@/assets/documentation/newSequence5.png" />
        <br /><br />
        <strong>Ctrl-click</strong> the  <span class="lb-code">Clear</span> plugin to remove it:
        <img draggable="false" class="lb-img-right" src="@/assets/documentation/newSequence6.gif" />
        <br /><br />
        Now add the <span class="lb-code">Graphics > Rotors</span> plugin, change the colormap,
        and finally <strong>Click</strong> the <span class="lb-code">Save</span> button. The sequence
        is added and can be renamed:
        <img draggable="false" src="@/assets/documentation/newSequence7.png" />
      </p>
      <br />
      <p>
        <strong>Click</strong> the <span class="lb-code">...</span> button to do so and enter a new name,
        for example "newSequence":&nbsp;
        <br /><br />
      </p>
      <div style="text-align: center">
        <img draggable="false" src="@/assets/documentation/newSequence8.gif" />
      </div>
      <br />
      <p>
        Last but not least, you can <strong>reorder</strong> the plugins in the sequence using drag and drop:&nbsp;
      </p>
      <div style="text-align: center">
        <img draggable="false" src="@/assets/documentation/newSequence9.gif" />
      </div>
      <p>
        <strong>Click</strong> the <span class="lb-code">Update</span> button to save any changes you've done.
      </p>
      <br />
      <p>
        Congratulations 🥳 Now you know the basics !
      </p>

      <h2 id="exercises">Exercises</h2>
      <p>
        Now it's time to practice 😄 Try to recreate these sequences:
      </p>
      <div style="text-align: center">
        <ul class="lb-exercises">
          <li v-for="(exercise, index) in EXERCISES" :key="exercise">
            <button @click="toggleExercise(index)">{{ exerciseName(+index + 1) }}</button>
            <div v-show="exercises[index]">
              <br />
              <video
                :alt="exerciseName(index + 1)"
                class="lb-exercise"
                draggable="false"
                @click="exercises[index] = false"
                widh="640"
                height="360"
                autoplay
                loop
                mute
              >
                <source :src="require(`@/assets/documentation/exercises/${EXERCISES[index]}`)" type="video/mp4" />
              </video>
              <div class="lb-solution">
                <div>
                  <button @click="showSolution(index)">Solution</button>
                </div>
                <div>
                  <ul class="lb-sequence">
                    <li v-for="plugin in sequence" :key="plugin">{{ plugin.displayName }}</li>
                  </ul>
                </div>
                <div>
                  <button v-show="sequence.length" @click="activate(index)">Run solution</button>
                </div>
              </div>
              <br />
            </div>
          </li>
        </ul>
      </div>

      <h2 id="images">Adding new images</h2>
      <p>
        Le Biniou is shipped with a default set of images, organized in "themes". To add your own theme,
        create a new directory in <span class="lb-code">/home/User/.lebiniou/images</span>,
      </p>
      <p>
        e.g. <span class="lb-code">/home/User/images/myImages</span>, put your images in this directory,
        then you'll be able to add the <span class="lb-code">myImages</span> theme in the
        <a href="/settings">Settings</a> page.
      </p>

      <h2 id="videos">Using videos</h2>
      <p>
        The <span class="lb-code">Video</span> plugin requires videos to be located in the
      </p>
      <p>
        <span class="lb-code">/home/User/.lebiniou/videos</span> directory. (For security reasons,
        the browser is not allowed to disclose full pathnames on your filesystem.)
      </p>

      <h2 id="more">More information</h2>
      <p>
        Advanced topics like layer modes, lens mode, video streaming, etc, can be found in the <a target="_blank" href="https://wiki.biniou.net">Wiki</a>.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'

import { Plugin } from '@/state/types'

import LBControls from '@/components/controls/LBControls.vue'

import { safeVuiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'DocumentationView',
  components: { LBControls },
  setup () {
    const CYCLE = [1, 2, 3, 4, 5, 6, 7, 8]
    const SHUFFLE1 = [7, 2, 6, 4, 8, 3, 1, 5]
    const SHUFFLE2 = [2, 8, 4, 3, 5, 6, 7, 1]
    const RANDOM1 = [5, 2, 2, 4, 8, 3, 4, 7]
    const RANDOM2 = [6, 8, 4, 3, 8, 6, 7, 1]
    const EXERCISES = [
      'lebiniou-2021-06-10_12-17-47.mp4',
      'lebiniou-2021-06-10_12-23-00.mp4',
      'lebiniou-2021-06-10_12-27-01.mp4',
      'lebiniou-2021-06-10_12-32-58.mp4',
      'lebiniou-2021-06-10_12-19-19.mp4',
      'lebiniou-2021-06-10_12-23-40.mp4',
      'lebiniou-2021-06-10_12-27-41.mp4',
      'lebiniou-2021-06-10_12-34-46.mp4',
      'lebiniou-2021-06-10_12-19-53.mp4',
      'lebiniou-2021-06-10_12-24-29.mp4',
      'lebiniou-2021-06-10_12-28-28.mp4',
      'lebiniou-2021-06-10_12-35-23.mp4'
    ]
    const exercises = ref(Array(EXERCISES.length).fill(false))
    const sequence = ref<Plugin[]>([])
    const SOLUTIONS = [
      'lebiniou_demo_001',
      'lebiniou_demo_006',
      'lebiniou_demo_010',
      'lebiniou_demo_012',
      'lebiniou_demo_004',
      'lebiniou_demo_007',
      'lebiniou_demo_011',
      'lebiniou_demo_020',
      'lebiniou_demo_005',
      'lebiniou_demo_009',
      'lebiniou_demo_015',
      'lebiniou_demo_021'
    ]

    const architectureHeight = computed(() =>
      screen.height >= 1080 ? 600 : 300
    )

    const activate = (index: number) => {
      fetch(`/sequences/${SOLUTIONS[index]}.json`)
        .then((res) => res.json())
        .then((seq) => {
          seq.name = 'demo: ' + SOLUTIONS[index]
          safeVuiCommand('VUI_POST_SEQUENCE', seq)
        })
    }
    const exerciseName = (index: number) =>
      `Exercise #${+index < 10 ? '0' + index : index}`
    const exerciseUrl = (index: number) =>
      `@/assets/documentation/exercises/${EXERCISES[index]}`
    const showSolution = (index: number) => {
      fetch(`/sequences/${SOLUTIONS[index]}.json`)
        .then((res) => res.json())
        .then((seq) => {
          sequence.value = seq.plugins
        })
    }
    const toggleExercise = (index: number) => {
      exercises.value = Array(EXERCISES.length).fill(false)
      exercises.value[index] = true
      sequence.value = []
    }

    return {
      activate,
      architectureHeight,
      CYCLE,
      SHUFFLE1,
      SHUFFLE2,
      RANDOM1,
      RANDOM2,
      exerciseName,
      exerciseUrl,
      exercises,
      EXERCISES,
      sequence,
      showSolution,
      toggleExercise
    }
  }
})
</script>

<style scoped>
.lb-documentation {
  font-size: 1.4em;
}

.toc {
  font-size: 18px;
  color: #ccc;
  float: left;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 20px 0px 0px 5px;
}

.content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 30px;
}

h2 {
  font-size: 42px;
  clear: both;
  text-align: left;
  margin-left: 400px;
  padding-top: 40px;
}

h3 {
  clear: both;
  text-align: center;
  font-size: 1.1em;
}

p {
  width: 55%;
  margin: 0 auto;
  text-align: justify;
}

.lb-architecture {
  text-align: center;
}

.lb-img-archi {
  float: right;
  margin-right: 90px;
}

.lb-code {
  color: #eee;
  background: #333;
  padding: 5px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #555;
  font-family: monospace;
}

.lb-controls {
  float: right;
  width: 350px;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-color: auto;
  padding-right: 10px;
  text-align: center;
}

.lb-img-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline > li {
  display: inline;
  color: #ccc;
  background: #333;
  width: 20px;
  margin: 5px;
  padding: 5px;
}

.lb-topbar {
  margin-left: 40px;
}

.lb-exercises {
  list-style: none;
}

.lb-exercise {
  border: 2px solid #eee;
  margin: 1em;
  cursor: none;
}

.lb-solution {
  display: grid;
  grid-template-columns: 100px auto 150px;
  align-items: start;
  margin: 0px 610px 0px 620px;
}

.lb-sequence {
  text-align: left;
}
</style>
