<template>
  <div class="lb-explorer-container">
    <div class="lb-explorer">
      <div v-if="state.auto.sequences.value !== 'Off'" class="lb-warning">
        <strong
          >&#x26A0; You have the 'auto Templates' and/or 'auto Sequences' mode
          activated. &#x26A0;<br />This can replace a running demo with a new
          sequence.
        </strong>
        <button @click="stopRandom()">Turn off</button>
      </div>
      <div class="lb-plugins">
        <LBPlugins :selectPlugin="selectPlugin" />
      </div>
      <div>
        <div class="lb-plugin-container">
          <div v-html="description" class="lb-plugin-description"></div>
          <div class="lb-preview">
            <div class="lb-value">{{ state.sequence.name }}</div>
            <div>
              <img
                draggable="false"
                ref="lbFrame"
                @load="freeFrame"
                :width="width"
                :height="height"
              />
            </div>
            <LBVolume class="lb-volume" />
            <div class="lb-sequence">
              <ol>
                <li v-for="(plugin, index) in sequence" :key="index">
                  <button @click="selectPlugin(plugin)">
                    {{ plugins[plugin].displayName }}
                  </button>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="lb-demos">
          <h1 v-if="plugin !== ''">
            {{ plugins[plugin].displayName }} - {{ demoTitle }}
          </h1>
          <h1 v-else>Select a plugin</h1>
          <div class="lb-demos-list">
            <button
              v-for="(demo, index) in demos"
              :key="index"
              class="lb-demo"
              @click="runDemo(demo)"
            >
              {{ demo }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onBeforeUnmount,
  onMounted,
  onUnmounted,
  ref
} from 'vue'

import state from '@/state'
import getters from '@/state/getters'

import LBPlugins from '@/components/plugins/LBPlugins.vue'
import LBVolume from '@/components/controls/LBVolume.vue'

import {
  connect,
  disconnect,
  getFrame,
  PREVIEW_WIDTH,
  PREVIEW_HEIGHT
} from '@/modules/preview'
import EXAMPLES from '@/modules/examples'
import { rescalePage } from '@/modules/utils'
import { command, safeVuiCommand } from '@/modules/ws'

const PREVIEW_FPS = 20
const DELAY = Math.round((1 / PREVIEW_FPS) * 1000)

export default defineComponent({
  name: 'Explorer',
  components: { LBPlugins, LBVolume },
  setup () {
    const lbFrame = ref<HTMLImageElement>()
    const demos = ref<string[]>([])
    const examples: { [index: string]: string[] } = {}
    const plugin = ref('')
    const description = ref('')
    const plugins: { [index: string]: any } = ref({})
    const sequence = ref<string[]>([])
    const sequences: { [index: string]: any } = {}
    const width = PREVIEW_WIDTH
    const height = PREVIEW_HEIGHT
    let timeout = -1

    const demoTitle = computed(() => {
      if (demos.value.length) {
        return `${demos.value.length} demo${
          demos.value.length !== 1 ? 's' : ''
        }`
      }
      return 'No demos'
    })

    const connected = () => startPreview()
    const freeFrame = () => {
      if (lbFrame.value != null) {
        URL.revokeObjectURL(lbFrame.value.src)
      }
      timeout = setTimeout(getFrame, DELAY)
    }
    const rescale = () => rescalePage('lb-explorer-container')
    const runDemo = (index: string) => {
      const sequence = sequences[index]
      sequence.name = 'demo: ' + index
      safeVuiCommand('VUI_POST_SEQUENCE', sequence)
    }
    const selectPlugin = (name: string) => {
      plugin.value = name
      description.value = plugins.value[name].description
      demos.value = examples[name]
    }
    const setFrame = (blob: any) => {
      if (lbFrame.value) lbFrame.value.src = URL.createObjectURL(blob)
    }
    const startPreview = () => {
      if (timeout) clearTimeout(timeout)
      getFrame()
    }
    const stopRandom = () => command('CMD_APP_STOP_AUTO_MODES')

    onBeforeUnmount(() => {
      if (lbFrame.value) URL.revokeObjectURL(lbFrame.value.src)
      clearTimeout(timeout)
      disconnect()
    })

    onMounted(() => {
      fetch(`${getters.getHttpUrl(state)}/plugins`)
        .then((res) => res.json())
        .then((fetchedPlugins) => {
          console.log(fetchedPlugins)
          for (const plugin of fetchedPlugins) {
            const { name, displayName, description } = plugin
            console.log(description)
            examples[name] = []
            plugins.value[name] = { displayName: displayName, description: description }
          }
          for (const example of EXAMPLES) {
            fetch(`/sequences/${example}.json`)
              .then((res) => res.json())
              .then((sequence) => {
                const sequencePlugins = sequence.plugins.map(
                  (p: Plugin) => p.name
                )
                const ok = sequencePlugins.every((p: string) =>
                  Object.prototype.hasOwnProperty.call(plugins.value, p)
                )
                if (ok) {
                  sequencePlugins.forEach((plugin: string) =>
                    examples[plugin].push(example)
                  )
                  sequences[example] = sequence
                }
              })
          }
          connect(connected, setFrame)
        })

      if (state.preferences.lbRescale) {
        window.addEventListener('resize', rescale)
        setTimeout(() => window.dispatchEvent(new Event('resize')), 1000)
      }
    })

    onUnmounted(() => {
      if (state.preferences.lbRescale) {
        window.removeEventListener('resize', rescale)
      }
    })

    return {
      demos,
      demoTitle,
      description,
      freeFrame,
      height,
      lbFrame,
      plugin,
      plugins,
      runDemo,
      selectPlugin,
      sequence,
      state,
      stopRandom,
      width
    }
  }
})
</script>

<style>
.lb-explorer-container {
  width: 100%;
  background: url('~@/assets/lb-stripe.png'), linear-gradient(#222, #111);
}

.lb-explorer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 505px 1fr;
  grid-gap: 20px;
}

.lb-warning {
  color: orange;
  font-size: 2em;
  grid-column: 1 / 4;
  text-align: center;
}

.lb-volume {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

#slider {
  margin-top: 10px;
}

.lb-plugins {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1em;
  margin-left: 20px;
}

.lb-demos-list {
  overflow-y: scroll;
  height: 200px;
}

.lb-demo {
  font-size: 1.2em;
}

.lb-preview {
  text-align: center;
}

.lb-sequence {
  text-align: left;
}

.lb-value {
  position: relative;
  top: 24px;
  padding: 0;
  text-shadow: 0 0 2px black;
}

.lb-plugin-container {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.lb-plugin-description {
  font-size: 1.5em;
}
</style>
