<template>
  <div class="lb-hub">
    <!--
    <input
      type="text"
      v-model.lazy="state.connection.lbHost"
      maxlength="15"
      @change="hostChanged"
    />{{ connectionStatus }}
    <div class="lb-buttons">
      <div>
        <button class="lb-auto" @click="toggle('colormaps')">
          <span :class="colormapsButtonClass">Colormaps</span>
        </button>
        <button class="lb-auto" @click="toggle('images')">
          <span :class="imagesButtonClass">Images</span>
        </button>
        <button class="lb-generate" @click="vuiCommand('VUI_GENERATE_RANDOM')">
          Generate
        </button>
      </div>
      <div class="lb-thumbs-up">
        <button @click="saveSequence">&#128077;</button>
      </div>
    </div>
    <div class="lb-sequences-container">
      <div v-for="(sequence, index) in sequences" :key="index">
        <button @click="useSequence(sequence.id)">
          {{ sequence.name }}
        </button>
      </div>
    </div>
    -->
    <h1>Browse the hub</h1>
    <div class="lb-presets-container">
      <div v-for="(preset, index) in hubPresets" :key="index">
        <button @click="usePreset(index)">
          {{ preset.id }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line
import { computed, defineComponent, onUnmounted, ref } from 'vue'

// eslint-disable-next-line
import state from '@/state'
// eslint-disable-next-line
import { Plugin, SequenceItem } from '@/state/types'
import getters from '@/state/getters'
// eslint-disable-next-line
import { disconnect, command, vuiCommand } from '@/modules/ws'
// eslint-disable-next-line
import { connectHub, disconnectHub, sendHub } from '@/modules/hub'

interface Preset {
  _id: string
  id: number
}

export default defineComponent({
  name: 'HubView',
  setup () {
    // const NB_SEQUENCES = 10

    // const first = (n: number): SequenceItem[] => state.allSequences.slice(0, n)

    const hubPresets = ref()
    // const sequences = computed(() => first(NB_SEQUENCES))
    /*
    const connectionStatus = computed(
      () => `${state.connected ? 'C' : 'Disc'}onnected`
    )
    const colormapsButtonClass = computed(
      () => `lb-auto-${state.engine.allowAutoColormaps ? 'en' : 'dis'}abled`
    )
    const imagesButtonClass = computed(
      () => `lb-auto-${state.engine.allowAutoImages ? 'en' : 'dis'}abled`
    )
    */

    const fetchHubPresets = () => {
      fetch(`${getters.getHubUrl(state)}/presets`).then(data => data.json()).then(res => {
        // console.log(res)
        hubPresets.value = res.map((p: Preset) => { return { _id: p._id, id: p.id } })
      })
    }
    /*
    const hostChanged = (event: Event) => {
      localStorage.setItem('lbHost', JSON.stringify(state.connection.lbHost))
      disconnect()
    }
    const saveSequence = () => {
      command('CMD_SEQ_SAVE_FULL')

      const sequence = JSON.parse(JSON.stringify(state.sequence))
      sequence.plugins = sequence.plugins.map((p: Plugin) =>
        serializePlugin(p)
      )
      sequence.version = 4
      sequence.id = new Date().getTime()
      sequence.name = sequence.id.toString()
      sequence.autoColormaps = state.engine.allowAutoColormaps
      sequence.autoImages = state.engine.allowAutoImages
      delete sequence.modified
      // console.log('sequence', sequence)
      fetch(`${getters.getHubUrl(state)}/preset`, {
        method: 'put',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify(sequence)
      })
        .then((data) => data.json())
        .then((res) => {
          // console.log('PUT result', res)
          hubPresets.value.unshift({ _id: res._id, id: res.id })
        })
        .catch((err) => console.error(err))
    }
    const serializePlugin = (plugin: any) => {
      if (plugin.parameters) {
        for (const parameter in plugin.parameters) {
          const { value } = plugin.parameters[parameter]
          plugin.parameters[parameter] = {
            value: value
          }
        }

        return plugin
      } else {
        return plugin
      }
    }
    const toggle = (what: string) =>
      vuiCommand('VUI_TOGGLE', { what: what, allow: true })
    */
    const usePreset = (index: number) => {
      fetch(`${getters.getHubUrl(state)}/preset/${hubPresets.value[index]._id}`)
        .then(data => { console.log(data); return data.json() })
        .then(res => {
          delete res._id
          const sequence = res
          // console.log(sequence)
          vuiCommand('VUI_POST_SEQUENCE', sequence)
        })
    }
    const useSequence = (id: number | undefined) => {
      if (id) vuiCommand('VUI_USE_SEQUENCE', { id: id })
    }

    const connected = () => {
      sendHub('Coucou de la HubView')
    }

    fetchHubPresets()
    connectHub(connected)

    return {
      // colormapsButtonClass,
      // connectionStatus,
      // hostChanged,
      hubPresets,
      // imagesButtonClass,
      // saveSequence,
      // sequences,
      state,
      // toggle,
      usePreset,
      useSequence,
      vuiCommand,
      window
    }
  }
})
</script>

<style>
.nav {
  display: none;
}

.remote {
  text-align: center;
  height: 100vh;
}

input {
  margin: 5px 5px 0px 5px;
  width: 110px;
  text-align: right;
}

.lb-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-left: 10px;
}

.lb-auto,
.lb-generate {
  font-size: 1.5em;
  width: 100%;
}

.lb-auto-disabled {
  color: red;
}

.lb-thumbs-up {
  font-size: 8em;
}

.lb-sequences-container, .lb-presets-container {
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
}

h1 {
  text-align: center;
}
</style>
