<template>
  <div class="lb-picker">
    <LBPicker item="image" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import LBPicker from '@/components/picker/LBPicker.vue'

export default defineComponent({
  components: { LBPicker },
  setup () {
    return {}
  }
})
</script>
