<template>
  <div :class="mainClass">
    <LBHeader />
    <div v-show="state.connected" class="lb-container" :style="containerStyle">
      <LBSequences v-if="state.data.sequences" />
      <LBControls />
      <div class="lb-data-container">
        <LBSelector
          item="colormap"
          class="lb-selector"
          :locked="state.engine.lockColormap"
        />
        <LBSelector
          v-if="state.data.images"
          item="image"
          class="lb-selector"
          :locked="state.engine.lockImage"
        />
      </div>
      <div class="lb-editor-container">
        <div class="lb-preview-container">
          <div class="lb-auto-modes-container">
            <button
              @click="toggleRandomSchemes"
              :class="schemesClass(state.auto.sequences.value)"
              title="Toggle auto Templates"
            >
              Templates
            </button>
            <button
              :disabled="!state.data.sequences"
              @click="toggleRandomSequences"
              :class="sequencesClass(state.auto.sequences.value)"
              title="Toggle auto Sequences"
            >
              Sequences
            </button>
            <button
              @click.exact="toggleAutoColormaps(false)"
              @click.ctrl="toggleAutoColormaps(true)"
              :class="
                buttonClass(
                  state.auto.colormaps.value,
                  state.engine.allowAutoColormaps
                )
              "
              :title="autoColormapsTitle"
            >
              Colormaps
            </button>
            <button
              v-if="state.data.images"
              @click.exact="toggleAutoImages(false)"
              @click.ctrl="toggleAutoImages(true)"
              :class="
                buttonClass(
                  state.auto.images.value,
                  state.engine.allowAutoImages
                )
              "
              :title="autoImagesTitle"
            >
              Images
            </button>
            <button
              @click="stopAutoModes"
              class="lb-button lb-stop"
              title="Stop all auto modes"
            >
              &#x1f6d1;
            </button>
            <div v-if="state.engine.webcams > 1">
              <button
                @click="toggleAutoWebcams"
                :class="buttonClass(state.auto.webcams.value)"
                title="Toggle auto Webcams"
              >
                Webcams
              </button>
              <button
                v-for="(webcam, index) in state.engine.webcams"
                :key="webcam"
                :disabled="state.engine.lockWebcam"
                @click="vuiCommand('VUI_SELECT_WEBCAM', index)"
                :class="webcamClass(index)"
                :title="`Use webcam ${index + 1}`"
              >
                {{ webcam }}
              </button>
              <button
                class="lb-button"
                @click="lock"
                v-html="lockIcon"
                title="Lock current webcam"
              ></button>
            </div>
          </div>
          <LBPreview />
        </div>
        <div class="lb-sequence-container">
          <LBEditor />
          <LBParameters
            :parameters="state.engine.selectedPlugin.parameters"
            :key="state.parametersKey"
          />
        </div>
      </div>
      <LBPlugins :selectPlugin="selectPlugin" />
    </div>
    <div style="clear: both"></div>
    <div v-show="state.connected" class="lb-footer-container">
      Le Biniou {{ state.versions.lebiniou }} | &copy;1994-{{ year }} Olivier
      &laquo;<a
        target="_blank"
        href="https://www.patreon.com/oliv3"
        class="lb-patreon"
        >oliv3</a
      >&raquo; Girondel | Powered by
      <a target="_blank" href="https://github.com/babelouest/ulfius">Ulfius</a>
      {{ state.versions.ulfius }} | Icons by
      <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, onUnmounted } from 'vue'

import state from '@/state'
import { setPreference } from '@/state/mutations'

import LBControls from '@/components/controls/LBControls.vue'
import LBHeader from '@/components/header/LBHeader.vue'
import LBParameters from '@/components/editor/LBParameters.vue'
import LBPlugins from '@/components/plugins/LBPlugins.vue'
import LBPreview from '@/components/editor/LBPreview.vue'
import LBSelector from '@/components/data/LBSelector.vue'
import LBEditor from '@/components/editor/LBEditor.vue'
import LBSequences from '@/components/sequences/LBSequences.vue'

import { command, uiCommand, vuiCommand } from '@/modules/ws'
import { rescalePage } from '@/modules/utils'

export default defineComponent({
  name: 'Main',
  components: {
    LBControls,
    LBEditor,
    LBHeader,
    LBParameters,
    LBPlugins,
    LBPreview,
    LBSelector,
    LBSequences
  },
  setup () {
    const autoColormapsTitle = computed(
      () =>
        `${
          state.engine.allowAutoColormaps
            ? `Click to set auto Colormaps ${
                state.auto.colormaps.value ? 'off' : 'on'
              }, `
            : ''
        }Ctrl-click to ${
          state.engine.allowAutoColormaps ? 'disable' : 'enable'
        } auto Colormaps changes`
    )
    const autoImagesTitle = computed(
      () =>
        `${
          state.engine.allowAutoImages
            ? `Click to set auto Images ${
                state.auto.images.value ? 'off' : 'on'
              }, `
            : ''
        }Ctrl-click to ${
          state.engine.allowAutoImages ? 'disable' : 'enable'
        } auto Images changes`
    )
    const containerStyle = computed(
      () =>
        `grid-template-columns: ${
          state.data.sequences
            ? state.preferences.lbSequences
              ? '250px'
              : '40px'
            : ''
        } ${state.preferences.lbControls ? '220' : '40'}px ${
          state.data.sequences ? '360px' : '430px'
        } ${state.data.sequences ? '420px' : '440px'} auto;`
    )
    const lockIcon = computed(
      () => `&#x1f51${state.engine.lockWebcam ? 2 : 3};`
    )
    const mainClass = computed(() =>
      state.connected ? `main connected ${state.preferences.lbRescale ? '' : 'no-rescale'}` : 'main disconnected'
    )
    const year = computed(() => new Date().getFullYear())

    const buttonClass = (on: boolean, allow: boolean = true) =>
      `lb-auto-mode-${on}-${allow}`
    const lock = () => vuiCommand('VUI_LOCK', 'webcam')
    const schemesClass = (mode: string) =>
      mode === 'Schemes' || mode === 'Mixed'
        ? 'lb-auto-mode-on'
        : 'lb-auto-mode-off'
    const sequencesClass = (mode: string) =>
      mode === 'Sequences' || mode === 'Mixed'
        ? 'lb-auto-mode-on'
        : 'lb-auto-mode-off'
    const containerLabelClass = (preference: boolean) =>
      `lb-container-label-${preference ? 'on' : 'off'}`
    const rescale = () => rescalePage('main')
    const selectPlugin = (name: string, ctrlKey: boolean) => {
      uiCommand('UI_CMD_APP_SELECT_PLUGIN', name)
      if (ctrlKey) {
        command('CMD_APP_TOGGLE_SELECTED_PLUGIN')
      }
    }
    const stopAutoModes = () => command('CMD_APP_STOP_AUTO_MODES')
    const toggleAutoColormaps = (allow: boolean) => {
      if (allow) {
        vuiCommand('VUI_TOGGLE', { what: 'colormaps', allow: allow })
      } else if (state.engine.allowAutoColormaps) {
        vuiCommand('VUI_TOGGLE', { what: 'colormaps', allow: allow })
      }
    }
    const toggleAutoImages = (allow: boolean) => {
      if (allow) {
        vuiCommand('VUI_TOGGLE', { what: 'images', allow: allow })
      } else if (state.engine.allowAutoImages) {
        vuiCommand('VUI_TOGGLE', { what: 'images', allow: allow })
      }
    }
    const toggleAutoWebcams = () =>
      vuiCommand('VUI_TOGGLE', { what: 'webcams' })
    const toggleRandomSchemes = () =>
      uiCommand('UI_CMD_APP_TOGGLE_RANDOM_SCHEMES')
    const toggleRandomSequences = () =>
      uiCommand('UI_CMD_APP_TOGGLE_RANDOM_SEQUENCES')
    const webcamClass = (index: number) => `lb-webcam-o${index === state.ping.currentWebcam ? 'n' : 'ff'}`

    const controls = JSON.parse(localStorage.getItem('lbControls') || 'true')
    setPreference('lbControls', controls)

    onMounted(() => {
      if (state.preferences.lbRescale) {
        window.addEventListener('resize', rescale)
        setTimeout(() => window.dispatchEvent(new Event('resize')), 1000)
      }
    })

    onUnmounted(() => {
      if (state.preferences.lbRescale) {
        window.removeEventListener('resize', rescale)
      }
    })

    return {
      autoColormapsTitle,
      autoImagesTitle,
      buttonClass,
      containerLabelClass,
      containerStyle,
      lock,
      lockIcon,
      mainClass,
      schemesClass,
      selectPlugin,
      sequencesClass,
      stopAutoModes,
      state,
      toggleAutoColormaps,
      toggleAutoImages,
      toggleAutoWebcams,
      toggleRandomSchemes,
      toggleRandomSequences,
      vuiCommand,
      webcamClass,
      year
    }
  }
})
</script>

<style src="@vueform/slider/themes/default.css"></style>

<style>
html {
  color: white;
  background: black;
}

body {
  background: url("~@/assets/lb-stripe.png"), linear-gradient(#222, #111);
  font-size: 16px;
  scrollbar-color: #333 #191919;
}

#app {
  font-family: Arial, Monospace, Avenir, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main {
  background: black;
  position: relative;
  top: 5px;
  height: 950px;
  width: 100%;
  display: block;
}

.main.connected {
  width: 1800px;
}

.main.connected.no-rescale {
  margin-left: auto;
  margin-right: auto;
}

input {
  background: black;
  border: 1px solid #333;
  color: #eee;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 90%;
  font-family: sans-serif;
}

#lbFrame {
  position: relative;
  cursor: none;
  width: 100%;
  height: 256px;
  margin-top: 10px;
}

#lbFrame {
  cursor: none;
  width: 100%;
}

.lb-container {
  border: none;
  background-color: transparent;
  display: grid;
  grid-template-rows: 800px;
  grid-gap: 20px;
  text-align: center;
  height: 802px;
}

.lb-button {
  background-color: black;
}

.lb-editor-container {
  display: grid;
  grid-template-columns: 1f;
  grid-gap: 20px;
}

.lb-preview-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.lb-selector,
.lb-preview-container {
  position: relative;
  background: linear-gradient(#111, #030303);
  border: 1px solid #333;
  padding: 0.666em 1em;
  border-radius: 8px;
}

button {
  background: linear-gradient(#303030, #262626) !important;
}

select {
  background: #1d1d1d !important;
}

button,
select {
  padding: 2px 8px;
  font-size: 80%;
  margin: 0.25em;
  font-weight: bold;
  color: white;
  border: 1px solid #555;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background: #444 !important;
  color: white !important;
}

.lb-tab button {
  width: 120px;
  padding: 0.4em;
}

.navigation-buttons button {
  background: black !important;
}

.lb-shutdown button {
  background: black !important;
}

.lb-full-width-button {
  width: 100%;
  margin: 6px 0;
}

.lb-full-width-button img {
  width: 23px;
}

.lb-label {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 80%;
}

.lb-value {
  font-weight: bold;
}

.lb-plugin {
  width: 100%;
}

.lb-3d {
  font-size: 80%;
}

.lb-slider {
  height: 10px;
  margin: 1.8em 0.5em 0.5em 0;
}

.lb-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

.slider-tooltip {
  color: #eee;
  background: rgba(100, 100, 100, 0.333);
  border: 1px solid #ccc !important;
  font-size: 70%;
  padding: 1px 5px !important;
  opacity: 0.666;
}

#slider:hover .slider-tooltip {
  background: black;
  color: white;
  opacity: 1;
}

.slider-connects {
  background: #222;
}

.slider-connect {
  background: #3c3c3c;
}

.lb-controls-main-container,
.lb-medium-container,
.lb-sequences-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.lb-data-container {
  background-color: linear-gradient(#111, #030303);
  text-align: center;
}

.lb-data-container {
  margin-right: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  background: transparent;
  border-top: none;
}

.lb-medium-container {
  grid-column: 1 / -1;
}

.lb-auto-mode-on,
.lb-auto-mode-true-true {
  color: #fff;
}

.lb-auto-mode-off,
.lb-auto-mode-false-true {
  color: #999;
}

.lb-auto-mode-false-false,
.lb-auto-mode-true-false {
  color: red;
}

.lb-stop-container {
  border: none;
  margin: 10px 10px 0px 10px;
}

.lb-webcam-off {
  color: #999;
}

.lb-sequence-container {
  padding: 0 1em 0 1em;
  background: linear-gradient(#111, #030303);
  border: 1px solid #333;
  border-radius: 8px;
  overflow-x: hidden;
  max-height: 370px;
  overflow-y: auto;
}

.lb-selector-container {
  background: linear-gradient(#111, #030303);
}

.lb-copyright-container {
  width: 100vw;
  padding: 1em 3em 0.5em 0;
}

.lb-selector-container .lb-value {
  position: relative;
  top: 24px;
  height: 0;
  padding: 0;
  text-shadow: 0 0 2px black;
}

.lb-copyright-container {
  height: 0;
}

.lb-footer-container {
  width: 1800px;
  text-align: center;
  /* position: absolute; */
  /* top: 925px; */
  color: #777;
  font-size: 80%;
  background: linear-gradient(#111, #030303);
  padding: 11px;
  border-radius: 8px;
  border: 1px solid #333;
  margin-top: 10px;
}

.lb-footer-container a {
  color: #777;
}

.lb-copyright-container a {
  color: #999;
  font-weight: bold;
}

:disabled {
  color: red;
}
</style>
