<template>
  <div class="lb-settings">
    <div>
      The configuration will be written to
      <span class="lb-formatted">{{ lbConfigurationFile }}</span
      >.
    </div>
    <div>
      You can use a different configuration with the
      <span class="lb-code w3-round">-c</span> or
      <span class="lb-code w3-round">--config</span> command-line option.
      Example:
      <span class="lb-code w3-round"
        >$ <span>{{ command }}</span> --config myConfig.json</span
      >
    </div>
    <div v-show="lbCreateSymlink">
      Create link on the desktop:&nbsp;<input
        type="checkbox"
        v-model="lbCreateSymlink"
        name="createSymlink"
      />
    </div>
    <button @click="saveSettings">Save settings</button>
    <hr />
    <div class="lb-settings-container">
      <div class="lb-label lb-settings-label">Input</div>
      <div>
        <Multiselect v-model="lbInput" v-bind="inputSelect" class="lb-select" />
      </div>

      <div class="lb-label lb-settings-label">Volume scale</div>
      <div class="lb-value">{{ state.input.volumeScale }}</div>

      <div class="lb-label lb-settings-label">Auto scale UI</div>
      <div class="lb-value">
        <input
          type="checkbox"
          v-model="state.preferences.lbRescale"
          @change="rescaleClicked"
        />
      </div>

      <div class="lb-label lb-settings-label">Warn on changes</div>
      <div class="lb-value">
        <input
          type="checkbox"
          v-model="state.preferences.lbWarning"
          @change="warningClicked"
        /> Warn if a sequence has not been updated when changing sequences.
      </div>

      <div v-show="!lbFixedResolution" class="lb-label lb-settings-label">
        Resolution
      </div>
      <div v-show="!lbFixedResolution">
        <Multiselect
          v-model="lbResolution"
          v-bind="resolutionSelect"
          class="lb-select"
          :placeholder="`Custom: ${lbResolution}`"
        />
      </div>

      <div class="lb-label lb-settings-label">Frames per second</div>
      <div class="lb-value">{{ state.engine.maxFps }}</div>

      <div class="lb-label lb-settings-label">Morphing duration</div>
      <div class="lb-value">
        {{ state.engine.fadeDelay }} ms (Fading duration for colormaps and
        images)
      </div>

      <div class="lb-label lb-settings-label">Start sequence</div>
      <div>
        <Multiselect
          v-model="lbStartMode"
          v-bind="startModeSelect"
          class="lb-select"
        />
      </div>

      <div class="lb-label lb-settings-label">Random mode</div>
      <div class="lb-value">{{ state.auto.sequences.value }}</div>

      <div class="lb-label lb-settings-label">Sequences mode</div>
      <div class="lb-value">{{ sequencesMode }} {{ autoSequencesRange }}</div>

      <div class="lb-label lb-settings-label">Colormaps mode</div>
      <div class="lb-value">{{ colormapsMode }} {{ autoColormapsRange }}</div>

      <div class="lb-label lb-settings-label">Images mode</div>
      <div class="lb-value">{{ imagesMode }} {{ autoImagesRange }}</div>

      <div class="lb-label lb-settings-label">Webcams</div>
      <div class="lb-value">
        <input
          type="number"
          min="1"
          :max="lbMaxCams"
          v-model="lbWebcams"
          style="width: 60px"
        />
        &nbsp;Horizontal flip&nbsp;<input type="checkbox" v-model="lbHFlip" />
        &nbsp;Vertical flip&nbsp;<input type="checkbox" v-model="lbVFlip" />
      </div>

      <div v-show="state.engine.webcams > 1" class="lb-label lb-settings-label">
        Webcams mode
      </div>
      <div v-show="state.engine.webcams > 1" class="lb-value">
        {{ webcamsMode }} {{ autoWebcamsRange }}
      </div>

      <div class="lb-label lb-settings-label">Plugins</div>
      <div>
        <Multiselect
          v-model="lbPlugins"
          v-bind="pluginsSelect"
          class="lb-select"
          :multipleLabel="pluginsLabel"
          :maxHeight="600"
          placeholder="Select plugins..."
          @close="checkPlugins"
        />
      </div>

      <div class="lb-label lb-settings-label">Themes</div>
      <div>
        <Multiselect
          v-model="lbThemes"
          v-bind="themesSelect"
          class="lb-select"
          :multipleLabel="themesLabel"
          :maxHeight="600"
          placeholder="Select themes..."
          @close="checkThemes"
        />
      </div>

      <div class="lb-label lb-settings-label">Statistics</div>
      <div class="lb-value">
        Help us improve Le Biniou by sending anonymous usage statistics.
        <input type="checkbox" v-model="lbOptIn" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'

import state from '@/state'
import { Plugin } from '@/state/types'
import getters from '@/state/getters'
import { setPreference } from '@/state/mutations'

import Multiselect from '@vueform/multiselect'

import { capitalize } from '@/modules/utils'

interface Option {
  label: string;
  value: string;
}

interface Options {
  mode?: string;
  options: Option[];
}

export default defineComponent({
  name: 'Settings',
  components: { Multiselect },
  setup () {
    // Input
    const lbInput = ref('')
    const inputSelect: Options = {
      options: []
    }
    // Misc
    let lbVersion = -1
    let lbFlatpak = false
    const lbConfigurationFile = ref('')
    const lbCreateSymlink = ref(true)
    const lbHomeDir = ref('')
    const lbOptIn = ref(true)
    // Plugins
    let originalPlugins: Plugin[] = []
    const lbPlugins = ref<string[]>([])
    const pluginsSelect: Options = {
      mode: 'multiple',
      options: []
    }
    // Screen
    const lbResolution = ref(state.screen.width + 'x' + state.screen.height)
    const SCREEN_RESOLUTIONS: { [index: string]: string } = {
      '640x360': 'nHD',
      '800x600': 'SVGA',
      '960x540': 'qHD',
      '1024x768': 'XGA',
      '1280x720': 'WXGA',
      '1280x1024': 'SXGA',
      '1366x768': 'HD',
      '1440x900': 'WXGA+',
      '1600x900': 'HD+',
      '1680x1050': 'WSXGA+',
      '1920x1080': 'FHD',
      '1920x1200': 'WUXGA',
      '2048x1152': 'QWXGA',
      '2560x1440': 'QHD',
      '3840x2160': '4K UHD'
    }
    const resolutionSelect: Options = {
      options: []
    }
    const resolutions: any[] = []
    for (const r in SCREEN_RESOLUTIONS) {
      resolutions.push({
        value: r,
        label: SCREEN_RESOLUTIONS[r] + ' (' + r + ')'
      })
    }
    resolutionSelect.options = resolutions
    const lbFixedResolution = ref(false)
    // Engine
    const lbStartMode = ref('')
    const startModeSelect = {
      options: [
        { value: 'first_created', label: 'First created' },
        { value: 'last_created', label: 'Last created' },
        { value: 'last_updated', label: 'Last updated' }
      ]
    }
    type RandomModes = { [index: string]: number };
    const randomModes: RandomModes = {
      Off: 0,
      Sequences: 1,
      Schemes: 2,
      Mixed: 3
    }
    // Themes
    let originalThemes: string[] = []
    const lbThemes = ref<string[]>([])
    const themesSelect: Options = {
      mode: 'multiple',
      options: []
    }

    const lbWebcams = ref(state.engine.webcams)
    const lbMaxCams = ref(6)
    const lbHFlip = ref(false)
    const lbVFlip = ref(false)

    const format = (range: any) =>
      `between ${range[0]} and ${range[1]} seconds`
    const autoColormapsRange = computed(() =>
      format(state.auto.colormaps.range)
    )
    const autoImagesRange = computed(() => format(state.auto.images.range))
    const autoSequencesRange = computed(() =>
      format(state.auto.sequences.range)
    )
    const autoWebcamsRange = computed(() => format(state.auto.webcams.range))
    const colormapsMode = computed(() => capitalize(state.auto.colormaps.mode))
    const command = computed(() =>
      lbFlatpak ? 'flatpak run net.biniou.LeBiniou' : 'lebiniou'
    )
    const imagesMode = computed(() => capitalize(state.auto.images.mode))
    const sequencesMode = computed(() => capitalize(state.auto.sequences.mode))
    const webcamsMode = computed(() => capitalize(state.auto.webcams.mode))

    const buildPluginsOptions = (plugins: Plugin[]) => {
      plugins.sort((a: Plugin, b: Plugin) =>
        b.displayName < a.displayName ? 1 : -1
      )
      lbPlugins.value = plugins.filter((p) => p.enabled).map((p) => p.name)
      const options = []
      for (const plugin of plugins) {
        options.push({ value: plugin.name, label: plugin.displayName })
      }
      pluginsSelect.options = options
    }
    const buildThemesOptions = (themes: {
      baseThemes: string[],
      selectedThemes: string[],
      userThemes: string[]
    }) => {
      const options: any[] = []
      themes.baseThemes.map((t) => options.push({ value: t, label: t }))
      themes.userThemes.map((t) => options.push({ value: '~' + t, label: t }))
      options.sort((a: any, b: any) => (b.label < a.label ? 1 : -1))
      themesSelect.options = options
      lbThemes.value = themes.selectedThemes
    }
    const checkPlugins = () => {
      if (!lbPlugins.value.length) {
        alert(
          'Le Biniou needs at least one plugin to function. Changes discarded.'
        )
        buildPluginsOptions(originalPlugins)
      }
    }
    const checkThemes = () => {
      if (!lbThemes.value.length) {
        const sure = confirm(`Deselecting all themes is not recommended:
Le Biniou will not use images at all.

Are you sure ?`)
        if (!sure) lbThemes.value = originalThemes
      }
    }
    const pluginsLabel = (n: string[]) =>
      `${n.length} plugin${n.length !== 1 ? 's' : ''} enabled`
    const rescaleClicked = (event: Event) => {
      const target = event.target as HTMLInputElement
      const value = target.checked
      setPreference('lbRescale', value)
    }
    const saveSettings = () => {
      const resolution = lbResolution.value.split('x')
      const form = {
        version: lbVersion,
        createSymlink: lbCreateSymlink.value,
        engine: {
          autoColormapsMode: state.auto.colormaps.mode,
          autoImagesMode: state.auto.images.mode,
          autoSequencesMode: state.auto.sequences.mode,
          autoWebcamsMode: state.auto.webcams.mode,
          colormapsMin: state.auto.colormaps.range[0],
          colormapsMax: state.auto.colormaps.range[1],
          fadeDelay: state.engine.fadeDelay / 1000,
          hFlip: lbHFlip.value,
          imagesMin: state.auto.images.range[0],
          imagesMax: state.auto.images.range[1],
          maxFps: state.engine.maxFps,
          randomMode: randomModes[state.auto.sequences.value],
          sequencesMin: state.auto.sequences.range[0],
          sequencesMax: state.auto.sequences.range[1],
          startMode: lbStartMode.value,
          vFlip: lbVFlip.value,
          webcams: +lbWebcams.value,
          webcamsMin: state.auto.webcams.range[0],
          webcamsMax: state.auto.webcams.range[1]
        },
        input: {
          name: lbInput.value,
          volumeScale: state.input.volumeScale
        },
        plugins: lbPlugins.value,
        screen: {
          width: +resolution[0],
          height: +resolution[1]
        },
        statistics: lbOptIn.value,
        themes: lbThemes.value
      }

      fetch(`${getters.getHttpUrl(state)}/settings`, {
        method: 'post',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify(form)
      })
        .then((data) => data.json())
        .then((res) => {
          if (res.restart) {
            alert(
              'You need to restart Le Biniou for the changes to take effect.'
            )
          } else {
            alert('Settings saved.')
          }
        })
    }
    const themesLabel = (t: string[]) =>
      `${t.length} theme${t.length !== 1 ? 's' : ''} selected`
    const warningClicked = (event: Event) => {
      const target = event.target as HTMLInputElement
      const value = target.checked
      setPreference('lbWarning', value)
    }

    fetch(`${getters.getHttpUrl(state)}/settings`)
      .then((response) => response.json())
      .then((settings) => {
        // console.log('settings', settings)
        const {
          engine,
          input,
          misc,
          plugins,
          screen,
          themes,
          webcam,
          version
        } = settings
        lbVersion = version
        // Engine
        const { flatpak, startMode } = engine
        lbFlatpak = flatpak
        lbStartMode.value = startMode
        // Input
        const { name, allInputPlugins } = input
        lbInput.value = name
        inputSelect.options = allInputPlugins
        inputSelect.options.splice(-1)
        // Misc
        const { configurationFile, hasDesktopSymlink, homeDir, optIn } = misc
        lbConfigurationFile.value = configurationFile
        lbCreateSymlink.value = !hasDesktopSymlink
        lbHomeDir.value = homeDir
        lbOptIn.value = optIn
        // Plugins
        originalPlugins = plugins
        buildPluginsOptions(plugins)
        // Screen
        lbFixedResolution.value = screen.fixed
        // Themes
        originalThemes = themes.selectedThemes
        buildThemesOptions(themes)
        // Webcam
        const { maxCams, hFlip, vFlip } = webcam
        lbMaxCams.value = maxCams
        lbHFlip.value = hFlip
        lbVFlip.value = vFlip
      })

    return {
      autoColormapsRange,
      autoImagesRange,
      autoSequencesRange,
      autoWebcamsRange,
      checkPlugins,
      checkThemes,
      colormapsMode,
      command,
      imagesMode,
      lbConfigurationFile,
      lbCreateSymlink,
      lbFixedResolution,
      lbHomeDir,
      lbHFlip,
      lbInput,
      lbMaxCams,
      lbOptIn,
      lbPlugins,
      lbResolution,
      lbStartMode,
      lbThemes,
      lbVFlip,
      lbWebcams,
      inputSelect,
      pluginsLabel,
      pluginsSelect,
      rescaleClicked,
      resolutionSelect,
      saveSettings,
      sequencesMode,
      startModeSelect,
      state,
      themesLabel,
      themesSelect,
      warningClicked,
      webcamsMode
    }
  }
})
</script>

<style src="@/assets/w3.css"></style>
<style src="@vueform/multiselect/themes/default.css"></style>

<style scoped>
.lb-settings {
  font-size: 1.3em;
  width: 100%;
  margin-top: 30px;
}

.lb-settings-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
}

.lb-code {
  color: black;
  background-color: #ccc;
  font-weight: bold;
  padding: 3px;
}

.lb-formatted {
  color: orange;
  font-weight: bold;
}

.lb-settings-label {
  align-self: center;
  justify-self: end;
}

.lb-select {
  width: 300px;
  margin: 20px;
  padding: 4px;
}

.lb-value {
  margin-left: 20px;
  top: 0px !important;
}
</style>
