<template>
  <div class="lb-controls">
    <div v-if="!doc" class="lb-controls-main-container" :class="controlsClass">
      <div>Controls&nbsp;</div>
      <div>
        <input
          type="checkbox"
          @click="toggleControls"
          :checked="state.preferences.lbControls"
          :title="controlsTitle"
        />
      </div>
    </div>
    <div v-else>&nbsp;</div>
    <div v-show="state.preferences.lbControls" class="lb-controls-container">
      <div class="lb-misc-container">
        <LBVolume v-if="state.input.name || doc" />
        <div class="lb-label">Morphing duration</div>
        <Slider
          id="fadeDelay"
          v-model="state.engine.fadeDelay"
          v-bind="fadeSlider"
          @change="
            uiCommand('UI_CMD_APP_SET_FADE_DELAY', state.engine.fadeDelay)
          "
          class="lb-slider"
          title="Slide to change morphing duration"
        />
      </div>
      <LBDelay name="sequences" class="lb-delay" />
      <LBDelay name="colormaps" class="lb-delay" />
      <LBDelay v-if="state.data.images" name="images" class="lb-delay" />
      <LBDelay
        v-if="state.engine.webcams > 1"
        name="webcams"
        class="lb-delay"
      />
      <div class="lb-threed-container">
        <div class="lb-label">
          <button
            class="lb-button lb-label"
            @click="toggle3d"
            :title="threedTitle"
          >
            3D
          </button>
        </div>
        <LBParams3d v-show="state.preferences.lbThreed || doc" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'

import state from '@/state'
import { setPreference } from '@/state/mutations'

import LBDelay from '@/components/controls/LBDelay.vue'
import LBParams3d from '@/components/controls/LBParams3d.vue'
import LBVolume from '@/components/controls/LBVolume.vue'
import Slider from '@vueform/slider'

import { uiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'LBControls',
  props: { doc: { type: Boolean, required: false, default: false } },
  components: { LBDelay, LBParams3d, LBVolume, Slider },
  setup () {
    const fadeSlider = {
      min: 10,
      max: 10000,
      step: 10,
      format: (value: number) => `${Math.round(value)} ms`
    }

    const controlsClass = computed(
      () => `lb-controls-${state.preferences.lbControls ? 'on' : 'off'}`
    )
    const controlsTitle = computed(
      () =>
        `Click to ${state.preferences.lbControls ? 'hide' : 'show'} controls`
    )
    const threedTitle = computed(
      () =>
        `Click to ${state.preferences.lbThreed ? 'hide' : 'show'} 3D parameters`
    )

    const toggle3d = () =>
      setPreference('lbThreed', !state.preferences.lbThreed)
    const toggleControls = (event: Event) => {
      const target = event.target as HTMLInputElement
      setPreference('lbControls', target.checked)
    }

    return {
      controlsClass,
      controlsTitle,
      fadeSlider,
      state,
      threedTitle,
      toggle3d,
      toggleControls,
      uiCommand
    }
  }
})
</script>

<style scoped>
.lb-controls {
  background: black;
  border-radius: 8px;
  border: 1px solid #333;
}

.lb-controls-main-container.lb-controls-on {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.lb-controls-main-container.lb-controls-off {
  transform: rotate(270deg);
  margin-top: 60px;
}

.lb-controls-container {
  display: grid;
  grid-auto-rows: max-content;
  overflow-y: auto;
  height: 750px;
}

.lb-misc-container,
.lb-threed-container {
  background: linear-gradient(#131313, #060606);
  border: 1px solid #333;
  margin: 0em 10px 20px 1em;
  padding: 0.666em 1em;
  border-radius: 8px;
}
</style>
