<template>
  <div class="lb-delay-container">
    <div class="lb-label">{{ capitalizedName }}</div>
    <div>
      <select
        v-model="state.auto[name].mode"
        @change="modeChanged"
        class="lb-delay-mode"
        :title="shufflerTitle"
      >
        <option value="cycle">Cycle</option>
        <option value="shuffle">Shuffle</option>
        <option value="random">Random</option>
      </select>
    </div>
    <div class="lb-delay-slider">
      <Slider
        :id="name"
        v-model="state.auto[name].range"
        v-bind="delaySlider"
        @change="rangeChanged"
        class="lb-slider"
        :title="sliderTitle"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue'

import state from '@/state'
import { AutoModeName } from '@/state/types'

import Slider from '@vueform/slider'

import { capitalize } from '@/modules/utils'
import { uiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'LBDelay',
  components: { Slider },
  props: {
    name: { type: String as unknown as PropType<AutoModeName>, required: true }
  },
  setup (props) {
    const delaySlider = {
      min: 1,
      max: 60,
      format: (value: number) => Math.round(value)
    }

    const capitalizedName = computed(() => capitalize(props.name))
    const shufflerTitle = computed(() => `Change ${props.name} shuffler`)
    const sliderTitle = computed(() => `Time between ${props.name} changes`)

    const modeChanged = (event: Event) => {
      const target = event.target as HTMLInputElement
      uiCommand('UI_CMD_APP_SET_AUTO_MODE', {
        what: props.name,
        mode: target.value
      })
    }
    const rangeChanged = (event: [number, number]) => {
      uiCommand('UI_CMD_APP_SET_DELAY', {
        what: props.name,
        min: event[0],
        max: event[1]
      })
    }

    return {
      capitalizedName,
      delaySlider,
      modeChanged,
      rangeChanged,
      shufflerTitle,
      sliderTitle,
      state
    }
  }
})
</script>

<style>
.lb-delay-container {
  background: linear-gradient(#131313, #060606);
  border: 1px solid #333;
  margin: 0em 10px 20px 1em;
  min-height: 150px;
  padding: 0.666em 1em;
  border-radius: 8px;
}

.lb-delay-button-container {
  margin: 1em;
}

.lb-delay-slider {
  margin: 3em 0 1em 0;
}

.lb-delay-mode {
  color: white;
  background-color: black;
}

.lb-auto-mode-on {
  color: white;
}

.lb-auto-mode-off {
  color: #666;
}
</style>
