<template>
  <div>
    <div class="lb-label">
      <button @click="reset" class="lb-button" title="Reset 3D parameters">
        Reset 3D
      </button>
    </div>

    <div class="lb-label">Boundary</div>
    <div>
      <select
        v-model="state.params3d.boundary"
        class="lb-layer-mode"
        @change="boundaryChanged"
        title="Change 3D boundary shape"
      >
        <option value="none">None</option>
        <option value="cube">Cube</option>
        <option value="sphere_dots">Sphere 1</option>
        <option value="sphere_wireframe">Sphere 2</option>
      </select>
    </div>

    <div class="lb-label lb-zoom-label">Zoom</div>
    <div class="lb-zoom-buttons">
      <div>
        <button @click="zoomOut" class="lb-button lb-zoom" title="Zoom out">
          -
        </button>
      </div>
      <div>
        <button @click="zoomIn" class="lb-button lb-zoom" title="Zoom in">
          +
        </button>
      </div>
    </div>

    <div class="lb-label lb-rotations">Rotations</div>
    <div>
      Auto&nbsp;
      <input
        type="checkbox"
        @click="command('CMD_APP_TOGGLE_3D_ROTATIONS')"
        title="Toggle 3D rotations"
        :checked="isRotating(state)"
      />
    </div>
    <div>
      <button
        class="lb-button"
        @click="command('CMD_APP_RANDOMIZE_3D_ROTATIONS')"
        title="Randomize rotations"
      >
        Randomize
      </button>
    </div>

    <div class="lb-sublabel">Amount</div>
    <Slider
      id="rotateAmount"
      v-model="rotateAmount"
      v-bind="rotateAmountSlider"
      @change="rotateAmountChanged"
      class="lb-slider"
      title="Slide to change rotation amount"
    />

    <div class="lb-axes">
      <div class="lb-sublabel">X&nbsp;&nbsp;</div>
      <Slider
        id="rotateFactorX"
        v-model="state.params3d.rotateFactor[0]"
        v-bind="rotateFactorSlider"
        @change="rotateFactorXChanged"
        class="lb-slider"
        title="X-axis rotation speed"
      />
      <div class="lb-sublabel">Y&nbsp;&nbsp;</div>
      <Slider
        id="rotateFactorY"
        v-model="state.params3d.rotateFactor[1]"
        v-bind="rotateFactorSlider"
        @change="rotateFactorYChanged"
        class="lb-slider"
        title="Y-axis rotation speed"
      />
      <div class="lb-sublabel">Z&nbsp;&nbsp;</div>
      <Slider
        id="rotateFactorZ"
        v-model="state.params3d.rotateFactor[2]"
        v-bind="rotateFactorSlider"
        @change="rotateFactorZChanged"
        class="lb-slider"
        title="Z-axis rotation speed"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'

import state from '@/state'
import getters from '@/state/getters'
import { setPreference } from '@/state/mutations'

import Slider from '@vueform/slider'

import { command, uiCommand, vuiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'LBParams3d',
  components: { Slider },
  setup () {
    const SCALE = 1000
    const rotateAmount = ref(state.params3d.rotateAmount * SCALE)
    const rotateAmountSlider = {
      min: 0.001 * SCALE,
      max: 0.01 * SCALE,
      step: 0.0001 * SCALE,
      format: function (value: number) {
        const fixedVal = value / SCALE
        return fixedVal.toFixed(4)
      }
    }
    const rotateFactorSlider = { min: -50, max: 50 }

    const boundaryChanged = (event: Event) => {
      const target = event.target as HTMLInputElement
      uiCommand('UI_CMD_SELECT_ITEM', {
        item: 'boundaryMode',
        mode: target.value
      })
    }
    const reset = () => vuiCommand('VUI_RESET_3D')
    const rotateAmountChanged = (value: number) =>
      uiCommand('UI_CMD_APP_SET_3D_ROTATION_AMOUNT', value / SCALE)
    const rotateFactorXChanged = (value: number) => {
      uiCommand('UI_CMD_APP_SET_3D_ROTATION_FACTOR', {
        axis: 'x',
        value: value
      })
    }
    const rotateFactorYChanged = (value: number) => {
      uiCommand('UI_CMD_APP_SET_3D_ROTATION_FACTOR', {
        axis: 'y',
        value: value
      })
    }
    const rotateFactorZChanged = (value: number) => {
      uiCommand('UI_CMD_APP_SET_3D_ROTATION_FACTOR', {
        axis: 'z',
        value: value
      })
    }
    const zoomIn = () => uiCommand('UI_CMD_TRACKBALL_ON_MOUSE_WHEEL', +1)
    const zoomOut = () => uiCommand('UI_CMD_TRACKBALL_ON_MOUSE_WHEEL', -1)

    watch(
      () => state.params3d.rotateAmount,
      (newRotateAmount) => {
        rotateAmount.value = newRotateAmount * SCALE
      }
    )

    const threed = JSON.parse(localStorage.getItem('lbThreed') || 'true')
    setPreference('lbThreed', threed)

    return {
      command,
      boundaryChanged,
      isRotating: getters.isRotating,
      rotateAmount,
      rotateAmountChanged,
      rotateAmountSlider,
      reset,
      rotateFactorSlider,
      rotateFactorXChanged,
      rotateFactorYChanged,
      rotateFactorZChanged,
      state,
      zoomIn,
      zoomOut
    }
  }
})
</script>

<style>
.lb-rotations,
.lb-zoom-label {
  margin-top: 5px;
}

.lb-sublabel {
  font-size: 80%;
  font-weight: bold;
  margin-top: 8px;
}

.lb-zoom-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}

.lb-zoom {
  width: 100%;
}

.lb-axes {
  display: grid;
  grid-template-columns: 10px 1fr;
  align-items: center;
}
</style>
