<template>
  <div>
    <div class="lb-label">Volume</div>
    <Slider
      id="mainVolumeScale"
      v-model="state.input.volumeScale"
      v-bind="volumeSlider"
      @change="setVolume"
      class="lb-slider"
      title="Slide to adjust volume"
    />
    <div>
      <button
        @click="command('CMD_APP_FREEZE_INPUT')"
        class="lb-button"
        :title="freezeTitle"
      >
        <img
          draggable="false"
          v-if="state.input.mute"
          src="@/assets/icons8-play-button-circled-30.png"
        />
        <img
          v-else
          draggable="false"
          src="@/assets/icons8-pause-button-30.png"
        />
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'

import state from '@/state'

import Slider from '@vueform/slider'

import { command, uiCommand } from '@/modules/ws'

export default defineComponent({
  components: { Slider },
  name: 'LBVolume',
  setup () {
    const volumeSlider = {
      min: 0.01,
      max: 10.0,
      format: (value: number) => 'x ' + value.toFixed(2),
      step: 0.01
    }

    const freezeTitle = computed(
      () => `Click to ${state.input.mute ? 'unfreeze' : 'freeze'} input`
    )

    const setVolume = () =>
      uiCommand(
        'UI_CMD_APP_SET_VOLUME_SCALE',
        Math.floor(state.input.volumeScale * 1000)
      )

    return { command, freezeTitle, setVolume, state, uiCommand, volumeSlider }
  }
})
</script>
