<template>
  <div>
    <canvas
      ref="lbCanvas"
      :width="SAMPLES"
      :height="HEIGHT"
      class="lb-item"
    ></canvas>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch } from 'vue'

import state, { SAMPLES } from '@/state'

export default defineComponent({
  name: 'LBFpsGrah',
  setup () {
    const HEIGHT = 40
    const MAXX = SAMPLES - 1
    const MAXY = HEIGHT - 1

    const lbCanvas = ref(null)
    let canvasContext = {}

    const graph = (fps: number[]) => {
      const context = canvasContext as CanvasRenderingContext2D
      const max = Math.max(state.engine.maxFps, ...fps)
      context.clearRect(0, 0, SAMPLES, HEIGHT)
      context.strokeStyle = 'lightgreen'
      context.beginPath()
      for (const f in fps) {
        if (fps[f]) {
          const h = ((max - fps[f]) / max) * MAXY
          context.moveTo(+f, MAXY)
          context.lineTo(+f, h)
        }
      }
      context.stroke()
      context.beginPath()
      const m = ((max - state.engine.maxFps) / max) * MAXY
      context.strokeStyle = 'blue'
      context.moveTo(0, m)
      context.lineTo(MAXX, m)
      context.stroke()
    }

    onMounted(() => {
      const canvas = lbCanvas.value as unknown as HTMLCanvasElement
      canvasContext = canvas.getContext('2d') as CanvasRenderingContext2D
    })

    watch(
      () => state.fpsLog,
      (newLog: number[]) => graph(newLog),
      { deep: true }
    )

    return { lbCanvas, SAMPLES, HEIGHT }
  }
})
</script>
