<template>
  <div :class="lbHeaderContainer">
    <div class="lb-header-wrapper">
      <div>
        <div v-if="state.connected">
          <div class="lb-connection-container">
            <div class="lb-connection">
              <img
                draggable="false"
                src="@/assets/icons8-wi-fi-on-48.png"
                :title="`Connected to ${state.connection.lbHost}`"
              />
            </div>
            <div
              v-if="state.ping.clients > 1"
              class="lb-ws-clients"
              :title="`${state.ping.clients} clients connected`"
            >
              {{ state.ping.clients }}
            </div>
          </div>
        </div>
        <div v-else>
          <img
            draggable="false"
            src="@/assets/icons8-wi-fi-off-48.png"
            style="margin: 10px"
            title="Disconnected"
          />
        </div>
      </div>
      <div v-if="!state.connected" id="lbConnecting" class="lb-blink">
        Connecting...
      </div>
      <input
        type="text"
        v-model="state.connection.lbHost"
        maxlength="15"
        placeholder="Host"
        style="width: 140px"
        @change="hostChanged"
        title="Change hostname"
      />
      <div v-if="state.connected" class="lb-value" title="Uptime">
        {{ uptime }}
      </div>
      <div v-if="state.connected" class="lb-fps-container">
        <Slider
          id="fpsSlider"
          v-model="state.engine.maxFps"
          v-bind="fpsSlider"
          class="lb-slider"
          @change="maxFpsChanged"
          title="Change maximum FPS"
        />
        <div class="lb-fps-gauge-container">
          <div class="lb-fps-gauge-max"></div>
          <div :style="pctWidth" class="lb-fps-gauge"></div>
          <div class="lb-fps-value">{{ state.ping.fps }}</div>
        </div>
      </div>
      <LBFpsGraph v-if="state.connected" />
      <div v-if="state.connected" class="lb-navigation-container">
        <div class="lb-value">Sequence</div>
        <div>
          <button
            class="lb-button lb-navigation"
            @click.exact="generateRandom(false)"
            @click.ctrl="generateRandom(true)"
            title="Generate a sequence"
          >
            Generate
          </button>
        </div>
        <div>
          <button
            :disabled="state.data.sequences < 2"
            class="lb-button lb-navigation"
            @click="safeCommand('CMD_APP_RANDOM_SEQUENCE')"
            :title="randomSequenceTitle"
          >
            Random
          </button>
        </div>
        <div class="navigation-buttons">
          <div
            class="lb-value"
            :class="lbNavigationClass"
            :title="lbNavigationTitle"
          >
            Navigate
          </div>
          <div>
            <button
              @click="navigate('CMD_APP_FIRST_SEQUENCE')"
              class="lb-button lb-button-unicode lb-navigation"
              title="First sequence"
            >
              <img draggable="false" src="@/assets/icons8-first-48.png" />
            </button>
          </div>
          <div>
            <button
              @click="navigate('CMD_APP_PREVIOUS_SEQUENCE')"
              class="lb-button lb-button-unicode lb-navigation"
              title="Previous sequence"
            >
              <img draggable="false" src="@/assets/icons8-previous-48.png" />
            </button>
          </div>
          <div>
            <button
              @click="navigate('CMD_APP_NEXT_SEQUENCE')"
              class="lb-button lb-button-unicode lb-navigation"
              title="Next sequence"
            >
              <img draggable="false" src="@/assets/icons8-next-48.png" />
            </button>
          </div>
          <div>
            <button
              @click="navigate('CMD_APP_LAST_SEQUENCE')"
              class="lb-button lb-button-unicode lb-navigation"
              title="Last sequence"
            >
              <img draggable="false" src="@/assets/icons8-last-48.png" />
            </button>
          </div>
        </div>
      </div>
      <div v-if="state.connected" class="lb-shutdown">
        <button
          class="lb-button"
          :disabled="!state.connected"
          @click="shutdown()"
        >
          <img
            draggable="false"
            src="@/assets/icons8-shutdown-48.png"
            title="Quit Le Biniou"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import state from '@/state'

import LBFpsGraph from '@/components/header/LBFpsGraph.vue'
import Slider from '@vueform/slider'

import {
  disconnect,
  safeCommand,
  safeVuiCommand,
  uiCommand
} from '@/modules/ws'

export default defineComponent({
  name: 'LBHeader',
  components: { LBFpsGraph, Slider },
  setup () {
    const fpsSlider = {
      min: 1,
      max: 255,
      format: (value: number) => `${Math.round(value)} fps`
    }

    const lbHeaderContainer = computed(
      () =>
        `lb-header-container lb-header-container-${
          state.connected ? '' : 'dis'
        }connected`
    )
    const lbNavigationClass = computed(() =>
      state.data.sequences ? '' : 'lb-disabled'
    )
    const lbNavigationTitle = computed(() =>
      state.data.sequences ? '' : 'You have no sequences to navigate'
    )
    const pctWidth = computed(
      () =>
        `width: ${Math.min(
          100,
          Math.round((state.ping.fps / state.engine.maxFps) * 100)
        )}%`
    )
    const randomSequenceTitle = computed(() =>
      state.data.sequences > 1
        ? 'Use a random sequence'
        : 'You have less than two sequences'
    )
    const uptime = computed(() => {
      let value = state.ping.uptime
      const d = Math.floor(value / (3600 * 24))
      value -= d * 3600 * 24
      const h = Math.floor(value / 3600)
      value -= h * 3600
      const m = Math.floor(value / 60)
      value -= m * 60
      let res = ''
      if (d) res += `${d} day${d > 1 ? 's' : ''} `
      return `${res}${pad2(h)}:${pad2(m)}:${pad2(value)}`
    })

    const generateRandom = (ctrlKey: boolean) =>
      safeVuiCommand('VUI_GENERATE_RANDOM', { disableAutoModes: ctrlKey })
    const hostChanged = (event: Event): void => {
      const target = event.target as HTMLInputElement
      state.connection.lbHost = target.value
      disconnect()
    }
    const maxFpsChanged = (event: number) =>
      uiCommand('UI_CMD_APP_SET_MAX_FPS', event)
    const navigate = (cmd: string) =>
      state.data.sequences ? safeCommand(cmd) : alert('You have no sequences')
    const shutdown = () => {
      if (confirm('Quit Le Biniou ?')) safeCommand('CMD_APP_QUIT')
    }
    const pad2 = (x: number) => (x < 10 ? '0' + x : x)

    return {
      fpsSlider,
      generateRandom,
      hostChanged,
      lbHeaderContainer,
      lbNavigationClass,
      lbNavigationTitle,
      maxFpsChanged,
      navigate,
      pctWidth,
      randomSequenceTitle,
      safeCommand,
      shutdown,
      state,
      uptime
    }
  }
})
</script>

<style src="@/assets/w3.css"></style>

<style>
.lb-header-container-connected {
  display: grid;
  grid-template-columns: 134px 200px 120px 200px 300px 400px 400px;
  grid-column-gap: 10px;
  margin-top: 1.5em;
  align-items: center;
}

.lb-header-container-disconnected {
  display: block;
  margin-top: 0.5em;
  align-items: center;
  padding: 0 3em;
  height: 96px;
  padding: 0 3.5em;
}

.lb-header-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lb-header-container-connected .lb-header-wrapper {
  display: grid;
  grid-template-columns: 100px 200px 100px 300px 220px 290px auto;
  grid-column-gap: 10px;
  margin: 0 0 1em 1px;
  align-items: center;
  padding: 0.5em 1.5em 1em 1.5em;
  background: linear-gradient(#111, #030303);
  width: 1800px;
  border-radius: 8px;
  border: 1px solid #333;
}

.lb-header-container-disconnected .lb-header-wrapper {
  display: grid;
  grid-template-columns: 80px 224px 200px;
  margin-top: 40vh;
  align-items: center;
  padding: 1em 2em;
  background: linear-gradient(#111, #030303);
  width: 600px;
  border-radius: 8px;
  border: 1px solid #333;
}

.lb-header-container-disconnected .lb-header-wrapper input {
  width: 200px;
  margin-top: 2px;
}

.lb-connection-container {
  position: relative;
  margin-top: -20px;
}

.lb-connection {
  position: absolute;
  z-index: 0;
}

.lb-ws-clients {
  cursor: default;
  height: 25px;
  width: 25px;
  margin: -10px 0px 0px 0px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#lbHost {
  width: 118px;
}

#lbPort {
  width: 60px;
}

#lbConnecting {
  font-size: 30px;
  color: #fff;
  animation: lb-blink 2s linear infinite;
}

@keyframes lb-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.lb-fps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#fpsSlider {
  width: 100px;
}

.lb-fps-gauge-container,
.lb-fps-gauge-max,
.lb-fps-gauge {
  height: 30px;
}

.lb-fps-gauge-container {
  display: grid;
  width: 100px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-top: 18px;
  padding: 2px 8px;
  position: relative;
}

.lb-fps-gauge-max {
  width: 100%;
  position: absolute;
  border-radius: 8px;
  background: red;
  z-index: 0;
}

.lb-fps-gauge {
  border-radius: 8px;
  padding: 2px 8px;
  background: lightgreen;
  position: absolute;
  z-index: 1;
}

.lb-fps-value {
  margin-left: 10px;
  align-self: center;
  font-weight: bold;
  font-size: 100%;
  color: darkblue;
  position: absolute;
  z-index: 2;
}

.lb-navigation-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
}

.navigation-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  margin-left: 1.5em;
}

.lb-navigation-container .lb-value {
  margin: 0 1em;
  padding: 0;
  font-size: 90%;
}

.lb-navigation img {
  filter: grayscale(1) contrast(1.8);
  width: 32px;
  padding: 2px;
}

.lb-shutdown {
  justify-self: end;
}

.lb-copyright-container {
  width: 700px;
  text-align: right;
  grid-column: 3/4;
}

a:link,
a:visited {
  color: white;
  font-weight: bold;
}

.lb-disabled {
  color: red;
}
</style>
