<template>
  <div class="lb-sequence">
    <div class="checkbox">
      <input
        v-show="!sequence.rename"
        type="checkbox"
        @change="checkbox"
        :checked="sequence.marked"
        :title="`Click to ${sequence.marked ? 'unmark' : 'mark'} '${
          sequence.name
        }' ${sequence.marked ? 'from' : 'for'} deletion`"
      />
    </div>
    <div>
      <button
        v-if="!sequence.rename"
        @click="useSequence(sequence.id)"
        class="lb-button"
        :title="`Click to use '${sequence.name}'`"
      >
        {{ sequence.name }}
      </button>
      <input
        v-else
        ref="edit"
        type="text"
        v-model="state.allSequences[index].newName"
        class="lb-edit"
        @blur="cancel"
        @change="changeSequenceName"
      />
    </div>
    <div class="rename">
      <button
        v-if="!sequence.rename"
        @click="renameSequence"
        :title="`Click to rename '${sequence.name}'`"
      >
        ...
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, nextTick, ref } from 'vue'
import state from '@/state'

import { safeVuiCommand, vuiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'LBSequence',
  props: {
    index: { type: Number, required: true },
    sequence: { type: Object, required: true }
  },
  setup (props, context) {
    const edit = ref(null)

    const cancel = () => {
      state.allSequences[props.index].rename = false
    }
    const changeSequenceName = () => {
      const oldName = props.sequence.name
      const newName = state.allSequences[props.index].newName
      if (oldName !== newName) {
        if (confirm(`Rename '${oldName}' to '${newName}' ?`)) {
          const arg = {
            id: props.sequence.id,
            index: props.index,
            oldName: oldName,
            newName: newName
          }
          vuiCommand('VUI_RENAME_SEQUENCE', arg)
        } else {
          state.allSequences[props.index].name = oldName
        }
      }
      state.allSequences[props.index].rename = false
    }
    const checkbox = (event: Event) => context.emit('mark')
    const renameSequence = async () => {
      state.allSequences[props.index].rename = true
      await nextTick()
      const input = edit.value as unknown as HTMLInputElement
      input.select()
    }
    const useSequence = (id: number) =>
      safeVuiCommand('VUI_USE_SEQUENCE', { id: id })

    return {
      changeSequenceName,
      checkbox,
      edit,
      renameSequence,
      cancel,
      state,
      useSequence
    }
  }
})
</script>

<style scoped>
.checkbox {
  align-self: center;
}

.lb-button,
.lb-edit {
  width: 130px;
  margin-left: 10px;
}

.rename {
  margin-right: 10px;
}

.lb-sequence {
  color: #999;
  display: grid;
  grid-template-columns: 15px auto 50px;
}
</style>
