<template>
  <div class="lb-sequences">
    <div
      class="lb-sequences-main-container"
      :class="containerLabelClass(state.preferences.lbSequences)"
    >
      <div>Sequences&nbsp;</div>
      <div>
        <input
          type="checkbox"
          v-model="state.preferences.lbSequences"
          @click="toggleSequences"
          :title="`Click to ${
            state.preferences.lbSequences ? 'hide' : 'show'
          } sequences`"
        />
      </div>
    </div>
    <div v-show="state.preferences.lbSequences" class="lb-sequences-container">
      <div class="lb-sequence">
        <div class="checkbox">
          <input
            ref="select"
            type="checkbox"
            @change="selectAll"
            v-model="all"
            :title="`Click to ${all ? 'unselect' : 'select'} all sequences`"
          />
        </div>
        <div>
          <button
            @click="deleteSequences"
            :disabled="!state.allSequences.filter((s) => s.marked).length"
            class="lb-button"
            :checked="state.allSequences.length"
          >
            Delete
          </button>
        </div>
      </div>
      <LBSequence
        v-for="(sequence, index) in state.allSequences"
        :index="+index"
        :key="index"
        :sequence="sequence"
        @mark="mark(+index)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import state from '@/state'
import { PreferenceType, SequenceItem } from '@/state/types'
import { setPreference } from '@/state/mutations'

import LBSequence from '@/components/sequences/LBSequence.vue'

import { vuiCommand } from '@/modules/ws'

export default defineComponent({
  name: 'LBSequences',
  components: { LBSequence },
  setup () {
    const all = ref(false)
    const select = ref()

    const checkbox = (index: number, event: Event) => {
      const target = event.target as HTMLInputElement
      state.allSequences[index].marked = target.checked
    }
    const containerLabelClass = (preference: PreferenceType): string =>
      `lb-container-label-${preference ? 'on' : 'off'}`
    const deleteSequences = () => {
      const trash = []
      for (const seq of state.allSequences) {
        if (seq.marked) {
          trash.push(seq.name)
        }
      }
      if (
        confirm(
          `Delete ${trash.length} sequence${trash.length > 1 ? 's' : ''} ?`
        )
      ) {
        vuiCommand('VUI_DELETE_SEQUENCES', trash)
        select.value.checked = false
      }
    }
    const mark = (index: number) => {
      state.allSequences[index].marked = !state.allSequences[index].marked
    }
    const selectAll = (event: Event) => {
      const target = event.target as HTMLInputElement
      state.allSequences.map((s: SequenceItem) => {
        s.marked = target.checked
      })
    }
    const toggleSequences = (event: Event): void => {
      const target = event.target as HTMLInputElement
      setPreference('lbSequences', target.checked)
    }

    const pref = JSON.parse(localStorage.getItem('lbSequences') || 'true')
    setPreference('lbSequences', pref)

    return {
      all,
      checkbox,
      containerLabelClass,
      deleteSequences,
      mark,
      select,
      selectAll,
      state,
      toggleSequences
    }
  }
})
</script>

<style scoped>
.lb-sequences {
  background: black;
  border-radius: 8px;
  border: 1px solid #333;
  text-align: center;
  padding: 30px 10px;
}

.lb-sequences-main-container.lb-container-label-on {
  margin-top: -23px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.lb-sequences-main-container.lb-container-label-off {
  transform: rotate(270deg);
  margin-top: 60px;
}

.lb-sequences-container {
  max-height: 750px;
  overflow-y: auto;
  display: grid;
  justify-content: start;
  align-items: center;
}

.checkbox {
  align-self: center;
}

.lb-button,
.lb-edit {
  width: 130px;
  margin-left: 20px;
}

.rename {
  margin-right: 10px;
}

.lb-sequence {
  color: #999;
  display: grid;
  grid-template-columns: 15px auto 50px;
}
</style>
