<template>
  <div class="lb-main-plugins-container">
    <div class="lb-tabs-container">
      <div v-for="(option, index) in OPTIONS" :key="index" class="lb-tab">
        <button
          @click="useTab(index)"
          :class="tabColor(index)"
          :disabled="!displayTab(option.option, option.special)"
          :title="`Click to see ${option.name} plugins`"
        >
          {{ option.name }}
        </button>
      </div>
    </div>
    <div class="lb-plugins-container">
      <div v-for="(plugin, index) in plugins" :key="index" class="lb-plugin">
        <div>
          <img
            draggable="false"
            width="20"
            height="20"
            :src="require(`@/assets/${hoverImg(plugin.name)}`)"
            @click="mouseClickFavorite(plugin.name)"
            @mouseenter="mouseEnterFavorite(plugin.name)"
            @mouseleave="mouseLeaveFavorite(plugin.name)"
            :title="`Click to ${plugin.favorite ? 'remove' : 'add'} ${
              plugin.displayName
            } ${plugin.favorite ? 'from' : 'to'} the Favorites tab`"
          />
        </div>
        <div>
          <button
            @click.exact="selectPlugin(plugin.name, false)"
            @click.ctrl.exact="selectPlugin(plugin.name, true)"
            :title="`Click to select '${plugin.displayName}', Ctrl-click to add to the sequence.`"
            class="lb-plugin-button"
          >
            {{ plugin.displayName }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import state from '@/state'
import { Plugin } from '@/state/types'
import getters from '@/state/getters'

export default defineComponent({
  name: 'LBPlugins',
  props: { selectPlugin: { type: Function, required: true } },
  setup () {
    const OPTIONS = [
      { option: 'BO_SFX', name: 'Sound' },
      { option: 'BO_GFX', name: 'Graphics' },
      { option: 'BO_IMAGE', name: 'Image' },
      { option: 'BO_BLUR', name: 'Blur' },
      { option: 'BO_DISPLACE', name: 'Displace' },
      { option: 'BO_LENS', name: 'Lens' },
      { option: 'BO_WEBCAM', name: 'Webcams' },
      { option: 'BO_HOR', name: 'Horizontal' },
      { option: 'BO_VER', name: 'Vertical' },
      { name: 'All', special: 'all' },
      { name: 'Favorites', special: 'favorites' }
    ]

    let tab = 0
    const plugins = ref<Plugin[]>([])
    let favorites: { [index: string]: boolean } = {}
    const hover = ref<{ [index: string]: boolean }>({})

    const displayTab = (
      option: string | undefined,
      special: string | undefined
    ) => {
      if (option === 'BO_IMAGE' && !state.data.images) return false
      if (option === 'BO_WEBCAM' && !state.engine.webcams) return false
      if (option === 'BO_SFX' && !state.input.name) return false
      return true
    }
    const tabColor = (index: number) =>
      `lb-tab-${index === tab ? 'on' : 'off'}`
    const hoverImg = (plugin: string) =>
      hover.value[plugin]
        ? favorites[plugin]
          ? 'icons8-pin-off-20.png'
          : 'icons8-pin-on-20.png'
        : favorites[plugin]
          ? 'icons8-pin-on-20.png'
          : '1x1.png'
    const mouseClickFavorite = (plugin: string) => {
      fetch(`${getters.getHttpUrl(state)}/settings.html?favorite=${plugin}`, {
        method: 'post'
      })
        .then((data) => data.json())
        .then((res) => {
          favorites[plugin] = res.favorite
        })
      if (tab === OPTIONS.length - 1) {
        // Favorites tab
        useTab(tab)
      }
    }
    const mouseEnterFavorite = (plugin: string) => {
      hover.value[plugin] = true
    }
    const mouseLeaveFavorite = (plugin: string) => {
      hover.value[plugin] = false
    }
    const useTab = (index: number) => {
      tab = index
      const query = OPTIONS[index].option
        ? `?option=${OPTIONS[index].option}`
        : ''
      fetch(`${getters.getHttpUrl(state)}/plugins${query}`)
        .then((response) => response.json())
        .then((fetchedPlugins: Plugin[]) => {
          if (OPTIONS[index].special === 'favorites') {
            plugins.value = fetchedPlugins.filter((p) => p.favorite)
          } else {
            plugins.value = fetchedPlugins
          }
          favorites = {}
          hover.value = {}
          for (const plugin of fetchedPlugins) {
            const { name, favorite } = plugin
            favorites[name] = favorite
            hover.value[name] = false
          }
        })
    }

    for (const option of OPTIONS) {
      if (displayTab(option.option, option.special)) {
        break
      } else {
        tab++
      }
    }
    useTab(tab)

    return {
      displayTab,
      hoverImg,
      mouseClickFavorite,
      mouseEnterFavorite,
      mouseLeaveFavorite,
      OPTIONS,
      plugins,
      tabColor,
      useTab
    }
  }
})
</script>

<style scoped>
.lb-main-plugins-container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 190px auto;
}

.lb-tabs-container {
  display: grid;
  background: linear-gradient(#111, #000);
  border: 1px solid #333;
  border-radius: 8px;
  width: 180px;
  padding: 2em 1em;
  height: 800px;
}

.lb-tab {
  height: 24px;
}

.lb-tab-off {
  color: #666;
}

.lb-tab-off:disabled {
  color: red;
}

.lb-tab-on {
  color: white;
}

.lb-plugins-container {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1em;
  height: 800px;
  overflow-y: auto;
  background: linear-gradient(#111, #030303);
  display: grid;
  grid-template-columns: repeat(auto-fill, 195px);
  grid-template-rows: repeat(auto-fill, 40px);
}

.lb-plugin-button {
  color: white;
  width: 100%;
  height: auto;
  margin-left: 10px;
}

.lb-plugin {
  color: #999;
  margin: 3px 0;
  display: grid;
  grid-template-columns: 30px 145px 3px 1fr;
}

.lb-plugin img {
  border: 2px solid #333;
  margin-top: 3px;
}
</style>
