<template>
  <div>
    <div v-if="state.spin" class="lb-spinner-container">
      <div class="lb-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-show="state.connected" class="nav">
      <router-link to="/">Main</router-link>
      |
      <router-link @click.ctrl.prevent="" to="/colormaps"
        >Colormaps</router-link
      >
      <span v-if="state.data.images">| </span
      ><router-link
        v-if="state.data.images"
        @click.ctrl.prevent=""
        to="/images"
        >Images</router-link
      >
      |
      <router-link @click.ctrl.prevent="" to="/plugins">Plugins</router-link>
      <span v-if="state.preferences.lbDeveloper">
        |
        <router-link @click.ctrl.prevent="" to="/hub">Hub</router-link>
      </span>
      |
      <router-link @click.ctrl.prevent="" to="/settings">Settings</router-link>
      |
      <router-link @click.ctrl.prevent="" to="/documentation"
        >Documentation</router-link
      >
      | <a target="_blank" href="https://wiki.biniou.net">Wiki</a> |
      <a target="_blank" href="https://web.libera.chat/?#lebiniou">IRC</a> |
      <a target="_blank" href="https://discord.gg/EcJTaaTKQN">Discord</a>
    </div>
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import state from '@/state'
import { setPreference } from '@/state/mutations'

import { connect } from '@/modules/ws'

export default defineComponent({
  name: 'App',
  setup () {
    const rescalePref = localStorage.getItem('lbRescale')
    let doRescale = false
    if (rescalePref === null) {
      const screenWidth = screen.width
      const screenHeight = screen.height
      console.info(`Screen resolution: ${screenWidth}x${screenHeight}`)
      if (screenWidth < 1920 || screenHeight < 1080) {
        console.warn('Resolution too low')
        if (
          confirm(
            'Your display can not do Full HD. Enable the auto-rescaling feature ? This can be changed later in the settings.'
          )
        ) {
          setPreference('lbRescale', true)
          doRescale = true
        } else {
          setPreference('lbRescale', false)
          doRescale = false
        }
      }
    } else {
      doRescale = JSON.parse(rescalePref)
      setPreference('lbRescale', doRescale)
    }

    const warning = JSON.parse(localStorage.getItem('lbWarning') || 'true')
    setPreference('lbWarning', warning)
    const developer = JSON.parse(localStorage.getItem('lbDeveloper') || 'false')
    setPreference('lbDeveloper', developer)
    connect()

    return { state }
  }
})
</script>

<style scoped>
.nav {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.2em;
  color: #666;
  z-index: 1;
}

.nav a {
  color: #999;
  font-weight: normal;
  text-decoration: none;
  font-size: 90%;
  margin: 0 2px;
}

.nav a:hover {
  color: #39f;
}

.nav a.router-link-exact-active {
  color: white;
}

.router {
  position: absolute;
  top: 25px;
}
</style>

<style>
/* Spinner */
.lb-spinner-container {
  position: absolute;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  place-items: center;
  z-index: 100;
}
.lb-spinner {
  /* display: inline-block; */
  width: 80px;
  height: 80px;
}
.lb-spinner div {
  transform-origin: 40px 40px;
  animation: lb-spinner 1.2s linear infinite;
}
.lb-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  border: 1px solid white;
  background: orange;
}
.lb-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lb-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lb-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lb-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lb-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lb-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lb-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lb-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lb-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lb-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lb-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lb-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lb-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
